<div class="min-h-screen flex justify-center">
    <div class="flex flex-col text-center">
        <div class="text-center mt-6">
            <h1
               
                class="heading"
                [ngClass]="{ 'text-red-600': titleText !== 'Change Password' }"
            >
                {{ titleText }}
            </h1>
        </div>

        <form
            [formGroup]="formInfo"
            (ngSubmit)="onSubmit()"
            class="flex flex-col w-60 sm:w-80 mx-auto"
        >
            <div class="flex flex-col">
                <input
                    type="email"
                    placeholder="Your Email"
                    required
                    formControlName="email"
                    class="mt-5 border border-gray-300 px-4 py-2 placeholder-italic"
                />
                <div
                    *ngIf="
                        formInfo.get('email').invalid &&
                        (formInfo.get('email').dirty ||
                            formInfo.get('email').touched)
                    "
                >
                    <div
                        *ngIf="formInfo.get('email').errors?.required"
                        class="error text-left text-red-600 mt-2"
                    >
                        *Email is required
                    </div>
                    <div
                        *ngIf="formInfo.get('email').errors?.pattern"
                        class="error text-left text-red-600 mt-2"
                    >
                        *Invalid email format
                    </div>
                </div>
                <div class="relative">
                    <input
                        [type]="showPassword ? 'text' : 'password'"
                        formControlName="existing_password"
                        placeholder="Your Current Password"
                        class="mt-5 border w-full border-gray-300 px-4 py-2 placeholder-italic"
                    />
                    <mat-icon
                        *ngIf="!showPassword"
                        class="icon-size-5 absolute right-2 top-1/2 cursor-pointer"
                        [svgIcon]="'heroicons_solid:eye'"
                        (click)="togglePasswordVisibility()"
                    ></mat-icon>
                    <mat-icon
                        *ngIf="showPassword"
                        class="icon-size-5 absolute right-2 top-1/2 cursor-pointer"
                        [svgIcon]="'heroicons_solid:eye-off'"
                        (click)="togglePasswordVisibility()"
                    ></mat-icon>
                </div>

                <div class="relative">
                    <input
                        [type]="showNewPassword ? 'text' : 'password'"
                        formControlName="new_password"
                        placeholder="Your New Password"
                        class="mt-5 border w-full border-gray-300 px-4 py-2 placeholder-italic"
                    />
                    <mat-icon
                        *ngIf="!showNewPassword"
                        class="icon-size-5 absolute right-2 top-1/2 cursor-pointer"
                        [svgIcon]="'heroicons_solid:eye'"
                        (click)="toggleNewPasswordVisibility()"
                    ></mat-icon>
                    <mat-icon
                        *ngIf="showNewPassword"
                        class="icon-size-5 absolute right-2 top-1/2 cursor-pointer"
                        [svgIcon]="'heroicons_solid:eye-off'"
                        (click)="toggleNewPasswordVisibility()"
                    ></mat-icon>
                </div>

                <div
                    *ngIf="
                        formInfo.get('new_password').invalid &&
                        (formInfo.get('new_password').dirty ||
                            formInfo.get('new_password').touched)
                    "
                >
                    <div
                        *ngIf="
                            formInfo.get('new_password').errors?.matchPassword
                        "
                        class="error text-left text-red-600 mt-2"
                    >
                        *New Password is exactly same to the existing one!
                        Please check it again
                    </div>
                </div>
            </div>

            <button
                *ngIf="!formInfo.invalid && !loading"
                class="mt-5 sigin text-white font-semibold py-2 px-4 bg-pyramid-default-primary"
            >
                SUBMIT
            </button>

            <button
                class="mt-5 signin-disabled text-white font-semibold py-2 px-4"
                *ngIf="formInfo.invalid && !loading"
                [disabled]="true"
            >
                SUBMIT
            </button>

            <div *ngIf="loading" class="flex justify-center items-center mt-3">
                <app-loader></app-loader>
            </div>
        </form>
    </div>
</div>
