
@media only screen and (max-width: 759px) {
    .sidebar {
      margin-left: 3% !important;
      margin-right: 3% !important;
    }

    .main-container {
        margin-left: 4% !important;
        margin-right: 4% !important;
      }
}


@media only screen and (min-width: 760px) {
    .parent-container{
        display: flex !important;
    }

    .main-container{
        width: 64% !important;
        margin-left: 3% !important;
        margin-right: 3% !important;
    }

    .sidebar{
       min-width: 30% !important;
       margin-left: 3% !important;
    }

}

@media only screen and (min-width: 1280px) {
    .parent-container{
        display: flex !important;
    }

    .main-container{
        width: 65% !important;
        margin-left: 3% !important;
        margin-right: 7% !important;
    }

    .sidebar{
       min-width: 18% !important;
       margin-left: 7% !important;
    }
}

