<div class="parent-container mx-auto min-h-screen my-8">
    <div class="sidebar">
        <app-profile-sidebar class="sticky top-6"></app-profile-sidebar>
    </div>

    <div class="main-container">
        <div class="mt-6 mx-auto">
            <div *ngIf="loading" class="absolute top-1/2 left-1/2">
                <app-loader></app-loader>
            </div>

            <div *ngIf="!loading && cvTemplates.length > 0">
                <h1 class="text-center text-3xl mb-10 font-bold">
                    Resume Templates
                </h1>
            </div>

            <div *ngIf="!loading && cvTemplates.length == 0">
                <h1 class="text-center text-3xl mb-10 font-bold text-red-600">
                    No Template Available
                </h1>
            </div>

            <canvas class="hidden" id="pdfViewer"></canvas>

            <div class="flex flex-wrap justify-center gap-x-12 gap-y-12 mt-6">
                <div
                    *ngFor="let cv of cvTemplates"
                    class="card-item cursor-pointer"
                    (click)="downloadResume(cv)"
                >
                    <div class="img">
                        <img [src]="imageSrcList[cvTemplates.indexOf(cv)]" />
                    </div>
                    <div
                        class="flex items-center w-full cursor-pointer"
                        (click)="downloadResume(cv)"
                    >
                        <div class="flex justify-between w-full h-16">
                            <div class="my-auto">
                                <h1 class="text-xl mx-2.5 font-bold">
                                    {{ cv.name }}
                                </h1>
                            </div>

                            <div class="my-auto">
                                <button
                                    type="submit"
                                    class="bg-[#338f3a] text-white px-2 py-1.5 mr-2 rounded"
                                    (click)="downloadResume(cv)"
                                >
                                    Download
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div
                *ngIf="!loading && cvTemplates.length > 0"
                class="md:max-w-4xl mx-auto pb-4 infxs:px-4 sm:px-11 md:px-0 flex justify-center mt-8"
            >
                <div class="flex items-center justify-center my-4">
                    <button
                        class="inline-flex items-center px-4 py-2 mr-3 hover:bg-[#338f3a] rounded border border-[#338f3a] hover:border-[#86de8cc4] hover:text-white text-[#338f3a]"
                        (click)="previousPage()"
                        [disabled]="currentPage === 1"
                    >
                        Prev
                    </button>
                    <div *ngIf="!isMobileView()">
                        <ng-container
                            *ngFor="let page of getPageRange(); let i = index"
                        >
                            <button
                                class="inline-flex items-center px-4 py-2 mr-3 rounded border border-[#338f3a] hover:border-[#338f3a] hover:text-white text-[#338f3a]"
                                [ngClass]="{
                                    'hover:bg-[#338f3a] hover:text-white':
                                        currentPage !== page,
                                    'bg-[#338f3a] !text-white buttonColor':
                                        currentPage === page
                                }"
                                (click)="goToPage(page)"
                                [disabled]="currentPage === page"
                            >
                                {{ page }}
                            </button>
                        </ng-container>
                    </div>

                    <button
                        class="inline-flex items-center px-4 py-2 mr-3 hover:bg-[#338f3a] rounded border border-[#338f3a] hover:border-[#338f3a] hover:text-white text-[#338f3a]"
                        (click)="nextPage()"
                        [disabled]="currentPage === totalPages"
                    >
                        Next
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div></div>
</div>
