@media screen and (max-width: 899px) {
   .card-item{
      margin-bottom: 25px !important;
   }
   .action-sec{
      text-align: center !important;
   }
}

@media screen and (min-width: 900px) {
    .cards-container{
       display: flex !important;
       justify-content: space-between !important;
    }
}

@media screen and (min-width: 902px) {
   .cards-container{
      .name-sec{
         width: 30%;
      }
      .changes-sec{
         width: 30%;
      }
   }
}

.mat-mdc-standard-chip{
   --tw-border-opacity:0 !important;
  --webkit-tap-highlight-color:white !important;
  --mdc-chip-container-shape-radius:3px;
  --mdc-chip-elevated-container-color: rgb(147, 235, 255) !important;
   border-radius: 3px;
}
