::ng-deep .mat-mdc-select-arrow-wrapper {
    margin-right: 1rem;
}
::ng-deep .mat-mdc-select-placeholder {
    margin-left: 1rem;
}
::ng-deep .mat-mdc-select-min-line {
    margin-left: 1rem;
}
