<div class="flex justify-center items-center infxs:px-6 md:px-16">
    <div class="py-6 text-md xl:text-base">
        <div class="flex flex-col infxs:gap-y-2 md:gap-y-4 English_section">
            <h3 class="font-bold">What is a refund?</h3>
            <p>
                When a learner is unable to access the course due to technical
                issues in the website, or doesn’t receive resources as promised
                in the course or mistakenly purchased a course or make a payment
                for exam instead of another course or exam of Pyramid
                Innovations Limited, the user can request for a refund which
                shall then go through the verification process.
            </p>
            <h3 class="font-bold">How to request a refund?</h3>
            <p>
                If you have paid for an individual course or a bundle course,
                you can request a refund within 72 hours of your payment.
            </p>
            <h3 class="font-bold">
                To request a refund, follow these steps on a computer:
            </h3>
            <div class="infxs:ml-6 md:ml-14">
                <ol>
                    1. Call the customer support representative (10 AM - 6 PM)
                    and state the email address/phone number you have used to
                    sign up and purchase the course.
                </ol>
                <ol>
                    2. A customer support representative shall SMS a form to
                    officially submit the refund request where you will be asked
                    to submit details regarding the purchase.
                </ol>
            </div>
            <p>
                Refund requests are only considered valid if contacted and
                informed via calling customer support representative within 72
                hours of purchase clearly specifying your email address and
                phone number used during registration.
            </p>
            <p>
                Refund shall be made to the medium through which a customer has
                made the payment or in the form of voucher within 7-10 working
                days of successful processing and approval of the refund request
                by Pyramid Innovations Limited. This confirmation will be
                emailed to the user.
            </p>

            <h3 class="font-bold">When will the refund not be applicable?</h3>
            <div class="infxs:ml-6 md:ml-14">
                <li>
                    In case you have submitted the complaint or refund request
                    after 72 hours from the date of purchase.
                </li>
                <li>
                    In case you have already earned your Course Certificate
                    within the 72-hour complaint period, you are no longer
                    eligible for a refund.
                </li>
                <li>
                    If you file a complaint within the 72-hour complaint period
                    and earn the course certificate within the next (7-10) days
                    refund period, you will not be entitled to a refund.
                </li>
                <li>
                    When you request a refund, the refund process will be in
                    progress. Therefore, if you complete an activity (play a
                    video, try a quiz or test, download materials of the
                    specific course) and proceed with the course, you will not
                    be eligible for a refund request.
                </li>
                <li>
                    If you complete more than 5 premium/paid videos before
                    requesting a refund, you will not be eligible for a refund.
                </li>
                <li>
                    If you have purchased a subscription-based course and class
                    has started for that course.
                </li>
            </div>

            <h3 class="font-bold">When will the refund be applicable?</h3>
            <p>
                In case of a wrong purchase or if the customer is willing to
                purchase another course, a transfer to another course can be
                done through providing a voucher. If the price of the new course
                is:
            </p>
            <div class="infxs:ml-6 md:ml-14">
                <li>
                    Higher than the purchased course, the user has to pay the
                    additional amount to Pyramid Innovations Limited by
                    preferred payment method.
                </li>
                <li>
                    Lower than the purchased course, the user will get a refund
                    of the additional amount from Pyramid Innovations Limited by
                    the payment medium through which the course was purchased.
                </li>
                <li>
                    If Pyramid Innovations Limited fails to provide the
                    resources as promised in the course
                </li>
                <li>
                    Mistakenly purchased live class instead of recorded class
                    and vice-versa.
                </li>
            </div>

            <h3 class="font-bold">When you request a refund, what happens?</h3>
            <p>
                Once a refund request has been submitted, your enrolled course
                will be temporarily locked. Pyramid Innovations Limited shall
                notify you through SMS if the refund request has been accepted
                within 3 working days of receiving the request. After a refund
                request has been accepted, you'll be unenrolled from the course
                and your progress will be removed. If you wish to purchase the
                course again, you will have to start the course from the very
                beginning. (how will the user be notified that their request has
                been received? Will they receive a support ticket ID for them to
                follow up with?)
            </p>
            <p>
                It can take up to 7-10 working days for funds to return to your
                account after a requested refund. If it has been longer than 10
                working days, please call the customer support representative
                (10 AM - 6 PM).
            </p>
            <p>
                Once the refund has been done, you will receive a confirmation
                email/ SMS to your registered email/phone number.
            </p>
            <h3 class="font-bold flex justify-center">
                *** Pyramid Innovations Limited has full authority to change the
                T&C from time to time and case by case scenario ***
            </h3>
        </div>
        <div
            class="flex flex-col infxs:gap-y-2 md:gap-y-4 pt-10 Bangla_section"
        >
            <h3 class="font-bold">ফেরত কি?</h3>
            <p>
                যখন কোনও শিক্ষার্থী ওয়েবসাইটে প্রযুক্তিগত সমস্যার কারণে কোর্সটি
                অ্যাক্সেস করতে অক্ষম হয়, বা কোর্সে প্রতিশ্রুতি অনুযায়ী সংস্থান
                না পায় বা ভুলভাবে একটি কোর্স কিনে নেয় বা পিরামিড ইনোভেশন
                লিমিটেডের অন্য কোর্স বা পরীক্ষার পরিবর্তে পরীক্ষার জন্য অর্থ
                প্রদান করে, ব্যবহারকারী একটি ফেরতের জন্য অনুরোধ করতে পারেন যা
                তারপর যাচাইকরণ প্রক্রিয়ার মধ্য দিয়ে যেতে হবে।
            </p>

            <h3 class="font-bold">একটি ফেরত অনুরোধ কিভাবে?</h3>
            <p>
                আপনি যদি একটি পৃথক কোর্স বা একটি বান্ডেল কোর্সের জন্য অর্থ
                প্রদান করে থাকেন তবে আপনি আপনার অর্থপ্রদানের 72 ঘন্টার মধ্যে
                ফেরতের অনুরোধ করতে পারেন।
            </p>

            <h3 class="font-bold">
                একটি ফেরত অনুরোধ করতে, একটি কম্পিউটারে এই পদক্ষেপগুলি অনুসরণ
                করুন:
            </h3>
            <div class="infxs:ml-6 md:ml-14">
                <li>
                    গ্রাহক সহায়তা প্রতিনিধিকে কল করুন (10 AM - 6 PM) এবং আপনি
                    সাইন আপ করতে এবং কোর্সটি কেনার জন্য যে ইমেল ঠিকানা/ফোন নম্বর
                    ব্যবহার করেছেন তা জানান।
                </li>
                <li>
                    একজন গ্রাহক সহায়তা প্রতিনিধি আনুষ্ঠানিকভাবে রিফান্ডের
                    অনুরোধ জমা দেওয়ার জন্য একটি ফর্ম এসএমএস করবে যেখানে আপনাকে
                    ক্রয় সংক্রান্ত বিশদ বিবরণ জমা দিতে বলা হবে।
                </li>
            </div>

            <p>
                রিফান্ডের অনুরোধ শুধুমাত্র বৈধ বলে বিবেচিত হয় যদি যোগাযোগ করা
                হয় এবং ক্রয়ের 72 ঘন্টার মধ্যে গ্রাহক সহায়তা প্রতিনিধিকে কল
                করার মাধ্যমে জানানো হয় যাতে রেজিস্ট্রেশনের সময় ব্যবহৃত আপনার
                ইমেল ঠিকানা এবং ফোন নম্বর স্পষ্টভাবে উল্লেখ করা হয়।
            </p>
            <p>
                পিরামিড ইনোভেশনস লিমিটেডের সফল প্রক্রিয়াকরণ এবং রিফান্ডের
                অনুরোধের অনুমোদনের 7-10 কার্যদিবসের মধ্যে একজন গ্রাহক যে মাধ্যমে
                অর্থপ্রদান করেছেন বা ভাউচার আকারে সেই মাধ্যমেই ফেরত দেওয়া হবে।
                এই নিশ্চিতকরণ ব্যবহারকারীকে ইমেল করা হবে।
            </p>

            <h3 class="font-bold">ফেরত কখন প্রযোজ্য হবে না?</h3>
            <div class="infxs:ml-6 md:ml-14">
                <li>
                    যদি আপনি ক্রয়ের তারিখ থেকে 72 ঘন্টা পরে অভিযোগ বা ফেরতের
                    অনুরোধ জমা দেন।
                </li>
                <li>
                    যদি আপনি ইতিমধ্যেই 72-ঘণ্টার অভিযোগের সময়ের মধ্যে আপনার
                    কোর্স সার্টিফিকেট অর্জন করেছেন, আপনি আর ফেরত পাওয়ার যোগ্য
                    নন।
                </li>
                <li>
                    আপনি যদি 72-ঘন্টা অভিযোগের সময়ের মধ্যে একটি অভিযোগ দায়ের
                    করেন এবং পরবর্তী (7-10) দিনের রিফান্ড সময়ের মধ্যে কোর্সের
                    শংসাপত্র অর্জন করেন, তাহলে আপনি ফেরত পাওয়ার অধিকারী হবেন
                    না।
                </li>
                <li>
                    আপনি যখন রিফান্ডের অনুরোধ করেন, তখন রিফান্ড প্রক্রিয়া চলছে।
                    অতএব, আপনি যদি একটি ক্রিয়াকলাপ সম্পূর্ণ করেন (একটি ভিডিও
                    চালান, একটি কুইজ বা পরীক্ষা চেষ্টা করুন, নির্দিষ্ট কোর্সের
                    উপকরণগুলি ডাউনলোড করুন) এবং কোর্সটি চালিয়ে যান, আপনি অর্থ
                    ফেরতের অনুরোধের জন্য যোগ্য হবেন না।
                </li>
                <li>
                    আপনি যদি রিফান্ডের অনুরোধ করার আগে 5টির বেশি
                    প্রিমিয়াম/প্রদেয় ভিডিও সম্পূর্ণ করেন, তাহলে আপনি ফেরতের
                    জন্য যোগ্য হবেন না।
                </li>
                <li>
                    ভুলবশত রেকর্ড করা ক্লাসের পরিবর্তে লাইভ ক্লাস কেনা হয়েছে
                    এবং এর বিপরীতে।
                </li>
            </div>

            <h3 class="font-bold">আপনি যখন ফেরতের অনুরোধ করেন, তখন কী হয়?</h3>
            <p>
                একবার একটি ফেরত অনুরোধ জমা দেওয়া হলে, আপনার নথিভুক্ত কোর্স
                সাময়িকভাবে লক করা হবে। পিরামিড ইনোভেশনস লিমিটেড আপনাকে এসএমএস
                এর মাধ্যমে অবহিত করবে যদি রিফান্ডের অনুরোধ রিকোয়েস্ট পাওয়ার ৩
                কার্যদিবসের মধ্যে গৃহীত হয়। ফেরতের অনুরোধ গৃহীত হওয়ার পরে,
                আপনাকে কোর্স থেকে নাম নথিভুক্ত করা হবে এবং আপনার অগ্রগতি সরানো
                হবে। আপনি যদি আবার কোর্সটি ক্রয় করতে চান তবে আপনাকে প্রথম থেকেই
                কোর্সটি শুরু করতে হবে। (কিভাবে ব্যবহারকারীকে জানানো হবে যে তাদের
                অনুরোধ গৃহীত হয়েছে? তারা কি তাদের অনুসরণ করার জন্য একটি সমর্থন
                টিকিট আইডি পাবে?)
            </p>
            <p>
                রিফান্ডের অনুরোধের পরে আপনার অ্যাকাউন্টে তহবিল ফিরে আসতে 7-10
                কার্যদিবস পর্যন্ত সময় লাগতে পারে। যদি এটি 10 কার্যদিবসের বেশি
                হয়ে থাকে, অনুগ্রহ করে গ্রাহক সহায়তা প্রতিনিধিকে কল করুন (10 AM
                - 6 PM)।
            </p>
            <p>
                একবার ফেরত দেওয়া হয়ে গেলে, আপনি আপনার নিবন্ধিত ইমেল/ফোন নম্বরে
                একটি নিশ্চিতকরণ ইমেল/এসএমএস পাবেন।
            </p>

            <h3 class="font-bold flex justify-center">
                *** পিরামিড ইনোভেশনস লিমিটেড সময়ে সময়ে এবং কেস পরিস্থিতি
                অনুসারে টিএন্ডসি পরিবর্তন করার সম্পূর্ণ কর্তৃত্ব রাখে ***
            </h3>
        </div>
    </div>
</div>
