<div
    class="md:min-h-screen flex flex-col justify-center items-center infxs:px-6 md:px-16 text-md xl:text-base text-center"
>
    <h1 class="font-bold text-xl py-8">
        Address: Floor 9, Meem Tower, 104 Mirpur Road, Dhaka
    </h1>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3651.8376044617476!2d90.37484067607217!3d23.753169788668615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755b920a04e9351%3A0x306ad2cbe5d364bf!2sMeem%20tower!5e0!3m2!1sen!2sbd!4v1702296210796!5m2!1sen!2sbd"
        class="w-full map"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
</div>
