@media only screen and (min-width: 760px) and (max-width:1279px) {
    img{
        min-width: 60px !important;
        max-width: 60px !important;
      }
    .status{
        margin-left: 10px !important;
    }
  
     
}