<div>
    <div class="flex justify-start text-lg font-medium uppercase">
        SIMILAR JOBS
    </div>
    <div class="pt-6 pb-2">
        <div class="mb-5">
            <h1 class="text-pyramid-blue cursor-pointer">Marketing Writter</h1>
            <h3 class="text-pyramid-grey">Graphite</h3>
            <h3>Remote</h3>
        </div>

        <div class="mb-5">
            <h1 class="text-pyramid-blue cursor-pointer">
                Cecconi's Junior Waiter / Waitress
            </h1>
            <h3 class="text-pyramid-grey">Soho House</h3>
            <h3>Amsterdam, Netherlands</h3>
        </div>

        <div>
            <h1 class="text-pyramid-blue cursor-pointer">
                Cecconi;s General Manager - Soho Beach House
            </h1>
            <h3 class="text-pyramid-grey">Soho House</h3>
            <h3>Miami Beach, FL</h3>
        </div>
    </div>
</div>
