
 
 .card-container {
    display: flex;
    column-gap: 18px !important;
    row-gap: 18px !important;
    flex-wrap: wrap;
    justify-content: center !important;
    min-height: 442px !important;
  }
  
  .card {
    width: 300px;
    margin: 10px;
    border: 1px solid #c7c5c5;
    border-radius: 5px;
  }


  
  .buttonColor {
   color: white !important;
 }
 
 button.disabled {
   background-color: #f1f1f1;
   border-color: #c4c4c4;
   color: #999999;
   cursor: not-allowed;
 }
 
 @media only screen and (min-width: 600px) {
   .pagination {
     display: flex !important;
     max-width: 90% !important;
     flex-wrap: wrap !important;
   }
 }
 

 @media only screen and (max-width: 759px) {
   .sidebar {
     margin-left: 3% !important;
     margin-right: 3% !important;
   }

   .text-sec{
       width: 40% !important;
   }

   img{
       width: 140px !important;
       height: 140px !important;
   }

}




@media only screen and (min-width: 760px) {
   .parent-container{
       display: flex !important;
   }

   .main-container{
       width: 64% !important;
       margin-left: 2% !important;
       margin-right: 2% !important;
   }

   .sidebar{
      min-width: 30% !important;
      margin-left: 3% !important;
   }

  .card-content{
     width: 75% !important;
     justify-content: left !important;
  }

  img{
     width: 50px !important;
  }

  
}

@media only screen and (min-width: 1280px) {
   .parent-container{
       display: flex !important;
   }

   .main-container{
       width: 65% !important;
       margin-left: 3% !important;
       margin-right: 7% !important;
   }

   .sidebar{
      min-width: 18% !important;
      margin-left: 7% !important;
   }

   img{
       width: 90px !important;
    }

}

 

 
  @media (min-width: 600px) and (max-width: 900px) {
     .card{
        width: 270px !important;
     }
  }
 