<div class="md:max-w-6xl xl:max-w-7xl mx-auto md:px-16 xl:px-10">
    <div class="pb-18">
        <div class="flex justify-center">
            <h1
                class="infxs:font-bold sm:font-semibold text-2xl infxs:px-3 md:px-0 text-center"
            >
                Discover companies that share your values.
            </h1>
        </div>
        <div
            class="infxs:block sm:flex infxs:mt-8 sm:mt-16 justify-between infxs:px-32 sm:px-14"
        >
            <div>
                <img src="assets/images/home/01-justanX-Logo.webp" class="sm:!h-8" />
            </div>
            <div>
                <img
                    src="assets/images/home/02-Plus-Online-Logo.webp"
                    class="!h-8 infxs:mt-10 sm:mt-0"
                />
            </div>
            <div>
                <img
                    src="assets/images/home/03-Tripnest.webp"
                    class="!h-8 infxs:mt-10 sm:mt-0"
                />
            </div>
            <div>
                <img
                    src="assets/images/home/04-VUMI.webp"
                    class="!h-8 infxs:mt-10 sm:mt-0"
                />
            </div>
            <div>
                <img
                    src="assets/images/home/05-Agency-Handy.webp"
                    class="!h-8 infxs:mt-10 sm:mt-0"
                />
            </div>
        </div>
        <div class="flex justify-center mt-16">
            <button
                (click)="goToJobs()"
                class="uppercase infxs:px-12 sm:px-14 py-3 bg-[#1e293b] hover:bg-pyramid-black text-pyramid-white rounded"
            >
                browse companies
            </button>
        </div>
        <div
            class="flex justify-center mt-8 font-medium text-center infxs:px-16"
        >
            <h3 class="text-[#1e293b]">
                Hiring?
                <span class="underline cursor-pointer hover:text-pyramid-blue"
                    >Learn more</span
                >
                about featuring your brand on The Pyramid.
            </h3>
        </div>
    </div>
</div>
