<div class="md:max-w-6xl xl:max-w-7xl mx-auto md:px-5">
    <div class="flex justify-center pt-22">
        <h1 class="font-semibold text-3xl">Check out recent articles.</h1>
    </div>
    <div class="flex justify-center p-6">
        <h2 class="font-normal text-base text-center">
            Get all the information and support you need to find work that's
            worth it.
        </h2>
    </div>
    <div
        class="grid-container justify-center flex flex-row flex-wrap gap-4 pt-6 pb-16"
    >
        <div
            class="flex border border-pyramid-grey w-90 cursor-pointer hover:border-pyramid-blue"
        >
            <div class="min-h-fit min-w-fit">
                <img
                    src="assets/images/home/recent-article-landing-card__image-1.jpg"
                />
            </div>
            <div class="flex flex-col p-3">
                <h1 class="uppercase">Carina Finn</h1>
                <h2 class="font-semibold mt-1">
                    12 High-Paying Jobs for Ceative People to Consider in 2023
                </h2>
            </div>
        </div>

        <div
            class="flex border border-pyramid-grey w-90 cursor-pointer hover:border-pyramid-blue"
        >
            <div class="min-h-fit min-w-fit">
                <img
                    src="assets/images/home/recent-article-landing-card__image-2.jpg"
                />
            </div>
            <div class="flex flex-col p-3">
                <h1 class="uppercase">Rebeca Piccardo</h1>
                <h2 class="font-semibold mt-1">
                    Job Hunting? Check Out These 28 New Companies on The Pyramid
                </h2>
            </div>
        </div>

        <div
            class="flex border border-pyramid-grey w-90 cursor-pointer hover:border-pyramid-blue"
        >
            <div class="min-h-fit min-w-fit">
                <img
                    src="assets/images/home/recent-article-landing-card__image-3.webp"
                />
            </div>
            <div class="flex flex-col p-3">
                <h1 class="uppercase">Meena Thiruvengadam</h1>
                <h2 class="font-semibold mt-1">
                    How Enterprise Helped This Former Stay-at-Home Mom Launch a
                    Career
                </h2>
            </div>
        </div>

        <div
            class="flex border border-pyramid-grey w-90 cursor-pointer hover:border-pyramid-blue"
        >
            <div class="min-h-fit min-w-fit">
                <img
                    src="assets/images/home/recent-article-landing-card__image-4.webp"
                />
            </div>
            <div class="flex flex-col p-3">
                <h1 class="uppercase">Meena Thiruvengadam</h1>
                <h2 class="font-semibold mt-1">
                    This Sales Director Has Criss-Crossed Canada in Pursuit of
                    New Challanges at Work
                </h2>
            </div>
        </div>

        <div
            class="flex border border-pyramid-grey w-90 cursor-pointer hover:border-pyramid-blue"
        >
            <div class="min-h-fit min-w-fit">
                <img
                    src="assets/images/home/recent-article-landing-card__image-5.jpg"
                />
            </div>
            <div class="flex flex-col p-3">
                <h1 class="uppercase">Rebeca piccardo</h1>
                <h2 class="font-semibold mt-1">
                    These Are Some of The Best Companies for Remote Work
                </h2>
            </div>
        </div>

        <div
            class="flex border border-pyramid-grey w-90 cursor-pointer hover:border-pyramid-blue"
        >
            <div class="min-h-fit min-w-fit">
                <img
                    src="assets/images/home/recent-article-landing-card__image-6.jpg"
                />
            </div>
            <div class="flex flex-col p-3">
                <h1 class="uppercase">Rebeca piccardo</h1>
                <h2 class="font-semibold mt-1">
                    60 Exciting Companies With Lots of Jobs Openings
                </h2>
            </div>
        </div>
    </div>
</div>
