<div class="md:maw-w-6xl xl:max-w-7xl mx-auto md:px-14 xl:px-16">
    <div class="flex justify-center pt-14 infxs:px-">
        <h1
            class="infxs:font-bold sm:font-semibold text-3xl infxs:px-3 sm:px-0 text-center"
        >
            Forge a career that exceeds your ambitions.
        </h1>
    </div>
    <div class="flex justify-center p-5">
        <h3 class="font-normal text-base text-center">
            Get expert advice for every life stage and experience level.
        </h3>
    </div>

    <div
        class="flex flex-wrap sm:flex-col md:flex-row infxs:justify-center sm:items-center gap-6 md:justify-between pt-6"
    >
        <div
            class="advice-div w-[340px] border rounded border-pyramid-blue overflow-hidden cursor-pointer"
        >
            <div class="overflow-hidden">
                <img
                    src="assets/images/home/Succeeding-at-Work.webp"
                    class="!h-60 !w-[340px] hover:scale-125"
                />
            </div>

            <h2
                class="flex justify-center p-7 mb-5 mx-4 font-semibold text-2xl overflow-hidden"
            >
                Succeeding at Work
            </h2>
        </div>

        <div
            class="advice-div w-[340px] border rounded border-pyramid-blue overflow-hidden cursor-pointer"
        >
            <div class="overflow-hidden">
                <img
                    src="assets/images/home/Career-Path.webp"
                    class="!h-60 !w-[340px] hover:scale-125"
                />
            </div>

            <h2
                class="flex justify-center p-7 mb-5 mx-4 font-semibold text-2xl"
            >
                Career Paths
            </h2>
        </div>

        <div
            class="advice-div w-[340px] border rounded border-pyramid-blue overflow-hidden cursor-pointer"
        >
            <div class="overflow-hidden">
                <img
                    src="assets/images/home/Job-Search.webp"
                    class="!h-60 !w-[340px] hover:scale-125"
                />
            </div>

            <h2
                class="flex justify-center p-7 mb-5 mx-4 font-semibold text-2xl"
            >
                Job Search
            </h2>
        </div>
    </div>
    <div class="flex justify-center p-16">
        <button
            (click)="goToJobs()"
            class="uppercase px-14 py-3 bg-[#1e293b] hover:bg-pyramid-black text-pyramid-white rounded"
        >
            Seacrh Job
        </button>
    </div>
</div>
