<div class=" flex-col items-center justify-center md:min-w-120">
    <div class="text-center">
        <h1 class="heading font-bold text-2xl">Edit Request for CV Bank </h1>
    </div>

    <div   class="flex flex-col text-center   mx-auto">
        
        <form   class="flex flex-col  mx-auto mt-3" style="width:90% !important;">
         

            <div class="flex flex-col">
                <h1 class="text-left font-bold">Number of CV*</h1>
                <input type="number" 
                        [(ngModel)]="cvCnt"
                        name="cvCnt"
                        class="mt-2 mb-4 border border-gray-300 px-4 py-2 placeholder-italic"
                />
            </div>
          

            <div class="flex flex-col">
                <h1 class="text-left font-bold">Institution</h1>
                <input type="text" 
                        [(ngModel)]="institution.filter_value"
                        name="institution.filter_value"
                        maxlength="20"
                        class="mt-2 mb-4 border border-gray-300 px-4 py-2 placeholder-italic"
                />
            </div>

            
            <div class="flex flex-col">
                <h1 class="text-left font-bold">Experience( number of years )</h1>
                <input type="number" 
                        [(ngModel)]="experience.filter_value"
                        name="experience.filter_value"
                        class="mt-2 mb-4 border border-gray-300 px-4 py-2 placeholder-italic"
                />
            </div>

            <div class="flex flex-col">
                <h1 class="text-left font-bold">Certificate Issuing Organization</h1>
                <input type="text" 
                        [(ngModel)]="certOrg.filter_value"
                        name="certOrg.filter_value"
                        maxlength="16"
                        class="mt-2 mb-4 border border-gray-300 px-4 py-2 placeholder-italic"
                />
            </div>

            <div class="flex flex-col">
                <h1 class="text-left font-bold">Certificate Name</h1>
                <input type="text" 
                        [(ngModel)]="certName.filter_value"
                        name="certName.filter_value"
                        maxlength="16"
                        class="mt-2 mb-4 border border-gray-300 px-4 py-2 placeholder-italic"
                />
            </div>


    
            <div class="flex justify-center items-center">
                <button *ngIf="!loading && isValidated() == true"
                    class="mt-5 rounded w-28 mr-4 sigin text-white font-semibold py-2 px-4 bg-pyramid-default-primary" 
                    (click)="submit()"
                 >
                      SUBMIT
                 </button>

                 <button *ngIf="!loading && isValidated() ==false"
                     class="mt-5 rounded w-28 mr-4 sigin text-white font-semibold py-2 px-4 bg-gray-300 cursor-not-allowed" 
                 >
                       SUBMIT
                 </button>

                 <div  *ngIf="loading"  class="flex justify-center items-center">
                      <app-loader></app-loader>
                 </div>

              
  </div>
            
        </form>
    </div>
</div>
