<div
    class="sm:max-w-3xl md:max-w-6xl xl:max-w-7xl infxs:px-4 sm:px-1 pb-22 mx-auto"
>
    <div class="pt-10 pb-14 infxs:px-2 sm:px-0">
        <h1
            class="flex justify-center infxs:font-bold sm:font-semibold infxs:text-4xl sm:text-3xl text-center"
        >
            A smarter way to search for jobs
        </h1>
    </div>

    <div class="bg-[#e8f1f4] infxs:pb-18 md:pb-0">
        <div class="sm:flex">
            <div class="image md:ml-30 sm:-mt-10 flex justify-center">
                <img
                    src="assets/images/home/job-seekers.webp"
                    class="rounded-full infxs:h-2/3 sm:h-full infxs:w-2/3 sm:w-full infxs:-mt-6 sm:-mt-0"
                />
            </div>
            <div
                class="content infxs:text-center sm:text-left sm:ml-6 md:ml-40"
            >
                <h2 class="infxs:font-bold sm:font-semibold text-2xl mt-12">
                    What we offer job seekers
                </h2>
                <h3
                    class="font-normal text-lg mt-8 sm:w-90 md:w-120 infxs:px-4 sm:px-0"
                >
                    We unlock professional advice for people exploring their
                    options, job searches tailored to personal priorities,
                    company profiles that go behind the scenes at an org, and
                    more.
                </h3>
            </div>
        </div>
    </div>

    <div class="mt-12 bg-[#e8f1f4] infxs:pb-18 md:pb-0">
        <div class="sm:flex">
            <div
                class="image md:ml-30 sm:-mt-10 justify-center infxs:flex sm:hidden"
            >
                <img
                    src="assets/images/home/employers.webp"
                    class="rounded-full infxs:h-2/3 sm:h-full infxs:w-2/3 sm:w-full infxs:-mt-18 sm:-mt-0"
                />
            </div>
            <div
                class="content content infxs:text-center sm:text-left sm:ml-10 md:ml-40"
            >
                <h2 class="font-semibold text-2xl mt-12">
                    What we offer employers
                </h2>
                <h3
                    class="font-normal text-lg mt-8 sm:w-90 md:w-120 infxs:px-4 sm:px-0"
                >
                    We help companies build a more robust, informed candidate
                    pipeline and strengthen their employer brand through
                    authentic storytelling content and targeted job postings.
                </h3>
            </div>
            <div class="image sm:ml-6 md:ml-30 -mt-22 infxs:hidden sm:block">
                <img
                    src="assets/images/home/employers.webp"
                    class="rounded-full infxs:h-2/3 sm:h-full infxs:w-2/3 sm:w-full infxs:-mt-6 sm:-mt-0"
                />
            </div>
        </div>
    </div>

    <div class="mt-12 bg-[#e8f1f4] infxs:pb-18 md:pb-0">
        <div class="sm:flex">
            <div class="image md:ml-30 sm:-mt-10 md:-mt-22 flex justify-center">
                <img
                    src="assets/images/home/we-do-it-better.webp"
                    class="rounded-full infxs:h-2/3 sm:h-full infxs:w-2/3 sm:w-full infxs:-mt-18 sm:-mt-3"
                />
            </div>
            <div
                class="content infxs:text-center sm:text-left sm:ml-4 md:ml-40"
            >
                <h2
                    class="font-semibold text-2xl infxs:mt-12 sm:mt-32 md:mt-12"
                >
                    How we do it better
                </h2>
                <h3
                    class="font-normal text-lg mt-8 sm:w-90 md:w-120 infxs:px-4 sm:px-0"
                >
                    We combine the speed and scale of technology with a deep
                    understanding of people to clarify your career search and
                    connect you with companies that fit your life and goals
                </h3>
            </div>
        </div>
    </div>
</div>
