<div class="md:max-w-6xl xl:max-w-full mx-auto xl:px-28">
    <div class="flex justify-center pt-8">
        <h1 class="font-semibold text-3xl">Try Coach Connect</h1>
    </div>
    <div class="flex justify-center p-6">
        <div class="w-140">
            <h2 class="font-normal text-base text-center">
                Meet hundreds of certified coaches who are trained to help you
                improve your resume, create a strategy for your job search, and
                more.
            </h2>
        </div>
    </div>
    <div class="infxs:hidden sm:flex justify-between pt-24 pb-14 mx-5 flex-wrap">
        <div class="flex flex-col items-center w-[30%] select-none mb-5">
            <div>
                <img
                    src="assets/images/home/01-Monzur-Hossain.jfif"
                    class="!h-20 !w-20 rounded-full"
                />
            </div>
            <h1 class="font-semibold text-xl mt-2">Monzur Hossain</h1>
            <h1 class="uppercase mt-1">Career Coach</h1>
            <h2 class="mt-3 text-center break-words">
                Engineering Lead, Structural & Physical design,
                Graphics Processor Division at Intel Corporation, Chandler, Arizona, United States.
            </h2>
        </div>
        <div class="flex flex-col items-center select-none mb-5  w-[30%]">
            <div>
                <img
                    src="assets/images/home/02-Syed-Atef Alvi.jfif"
                    class="!h-20 !w-20 rounded-full"
                />
            </div>
            <h1 class="font-semibold text-xl mt-2">Syed Atef Alvi</h1>
            <h1 class="uppercase mt-1">Career Coach</h1>
            <h2 class="mt-3 text-center break-words">
                Global Incentive Compensation Senior Analyst, Salesforce, Toronto, Ontario, Canada
            </h2>
        </div>
        <div class="flex flex-col items-center select-none mb-5 w-[30%]">
            <div>
                <img
                    src="assets/images/home/03-Mohammad-Moniruzzaman.jfif"
                    class="!h-20 !w-20 rounded-full"
                />
            </div>
            <h1 class="font-semibold text-xl mt-2 text-center">Mohammad Moniruzzaman</h1>
            <h1 class="uppercase mt-1">Career Coach</h1>
            <h2 class="mt-3 text-center break-words">
                Pricing & Analytics Manager at Toyota Finance Australia.
            </h2>
        </div>
        <div class="flex flex-col items-center select-none mb-5">
            <div>
                <img
                    src="assets/images/home/04-Mahtab-Muntazeri.jpg"
                    class="!h-20 !w-20 rounded-full"
                />
            </div>
            <h1 class="font-semibold text-xl mt-2">Mahtab Muntazeri</h1>
            <h1 class="uppercase mt-1">Career Coach</h1>
            <h2 class="mt-3 text-center xl:w-72">
                Lecturer, North South University
            </h2>
        </div>
        <div class="flex flex-col items-center select-none mb-5">
            <div>
                <img
                    src="assets/images/home/05-Mr-Faiz-Ibne-Hossain.jpg"
                    class="!h-20 !w-20 rounded-full"
                />
            </div>
            <h1 class="font-semibold text-xl mt-2">Mr. Faiz Ibne Hossain</h1>
            <h1 class="uppercase mt-1">Career Coach</h1>
            <h2 class="mt-3 text-center xl:w-72">
                Lecturer, North South University
            </h2>
        </div>
        <div class="flex flex-col items-center select-none mb-5">
            <div>
                <img
                    src="assets/images/home/06-Ehfaz-Nowman.jpg"
                    class="!h-20 !w-20 rounded-full"
                />
            </div>
            <h1 class="font-semibold text-xl mt-2">Ehfaz Nowman</h1>
            <h1 class="uppercase mt-1">Career Coach</h1>
            <h2 class="mt-3 text-center xl:w-72">
                Lecturer, North South University
            </h2>
        </div>
        <div class="flex flex-col items-center select-none mb-5">
            <div>
                <img
                    src="assets/images/home/07-khaled-Mahmud.jpg"
                    class="!h-20 !w-20 rounded-full"
                />
            </div>
            <h1 class="font-semibold text-xl mt-2">Khaled Mahmud</h1>
            <h1 class="uppercase mt-1">Career Coach</h1>
            <h2 class="mt-3 text-center xl:w-72">
                Associate Professor, IBA, University of Dhaka
            </h2>
        </div>
    </div>
    <div class="flex justify-center select-none infxs:pt-8 sm:pt-2 pb-14">
        <button
            (click)="goToCoaches()"
            class="uppercase px-14 py-3 bg-[#1e293b] hover:bg-pyramid-black text-pyramid-white rounded"
        >
            Meet The Coaches
        </button>
    </div>
</div>
