.input-box{
    border-color: rgb(76, 70, 70) !important;
    border-top: hidden !important;
    border-left:  hidden !important;
    border-right: hidden !important;
    border-bottom: 2px solid !important;
}