<!-- <div class="min-h-screen flex-col justify-center items-center md:w-1/3 mt-10 mx-auto text-center px-6">
    <h1 class="text-center font-[700] text-2xl py-3 mb-4">EDIT PRE EMPLOYMENT TEST</h1>

    <div class="mb-1">
          <select
            id="selectedCourse"
            [(ngModel)]="selectedCourseId"
            name="selectedCourse"
            class="w-full border border-gray-400 px-4 py-2 placeholder-italic"
            style="padding-right: 60px !important"
          >
            <option *ngFor="let course of filteredCourses" [value]="course.id">{{ course.fullname }}</option>
          </select>
    </div>
    
      
      

      <div>
                <button type="submit" class="uppercase mt-8 w-48 px-10 py-2  mb-4 bg-[#338f3a] hover:bg-[#256a2a] text-white rounded my-4 justify-center"
                    (click)="savePET()"   
                >Save PET</button>
      </div>

       

      <div>
            <button type="submit" class="uppercase px-6 w-48 py-2 mt-4 mb-8 bg-[#338f3a] hover:bg-[#256a2a] text-white rounded my-4 justify-center"
                    (click)="createCourse()"
            >Create Course</button>
      </div>
</div> -->
