<div class=" flex-col items-center justify-center md:min-w-120">
    <div class="text-center">
        <h1 class="heading font-bold text-2xl"> Please Add Extra Curricular Info </h1>
    </div>

    <div   class="flex flex-col text-center   mx-auto">
        
        <form   class="flex flex-col  mx-auto mt-3" style="width:90% !important;">
            <div class="flex flex-col">
                <h1 class="text-left font-bold">Organization Name*</h1>
                <input type="text" 
                        required
                        [(ngModel)]="extraCurricularActivity.organization_name"
                        name="organization_name"
                        maxlength="48"
                        class="mt-2 mb-4 border border-gray-300 px-4 py-2 placeholder-italic"
                />
            </div>

            <div class="flex flex-col">
                <h1 class="text-left font-bold">Role</h1>
                <input type="text" 
                      
                        [(ngModel)]="extraCurricularActivity.role"
                        name="role"
                        maxlength="48"
                        class="mt-2 mb-4 border border-gray-300 px-4 py-2 placeholder-italic"
                />
            </div>

            <div class="flex flex-col">
                <h1 class="text-left font-bold">Category</h1>
                <input type="text"
                       
                        [(ngModel)]="extraCurricularActivity.category"
                        name="category"
                        class="mt-2 mb-4 border border-gray-300 px-4 py-2 placeholder-italic"
                />
            </div>

            <div class="flex flex-col">
                <h1 class="text-left font-bold">Start Date*</h1>
                <input type="date"
                        required
                        [(ngModel)]=" extraCurricularActivity.start_date"
                        name="start_date"
                        class="mt-2 mb-4 border border-gray-300 px-4 py-2 placeholder-italic"
                />
            </div>

            <div class="flex flex-col">
                <h1 class="text-left font-bold">End Date*</h1>
                <input type="date"    
                        required 
                        [(ngModel)]="extraCurricularActivity.end_date"
                        name="end_date"
                        class="mt-2 mb-4 border border-gray-300 px-4 py-2 placeholder-italic"
                />
            </div>

            <div class="flex flex-col">
                <h1 class="text-left font-bold"> Description</h1>
                <textarea 
                        [(ngModel)]="extraCurricularActivity.description"
                        name="description"
                        maxlength="1000"
                        class="mt-2 mb-4 h-36 border border-gray-300 px-4 py-2 placeholder-italic"
                ></textarea>
            </div>

            <div class="flex justify-center items-center">
                <button *ngIf="!loading && isValidated() == true"
                    class="mt-5 w-28 mr-4 rounded sigin text-white font-semibold py-2 px-4 bg-pyramid-default-primary" 
                    (click)="submit()"
                 >
                      SUBMIT
                 </button>

                 <button *ngIf="!loading && isValidated() ==false"
                     class="mt-5 w-28 mr-4 rounded sigin text-white font-semibold py-2 px-4 bg-gray-300 cursor-not-allowed" 
                 >
                       SUBMIT
                 </button>

                 <div  *ngIf="loading"  class="flex justify-center items-center">
                      <app-loader></app-loader>
                 </div>

              
  </div>
            
        </form>
    </div>
</div>

