<mat-drawer-container
    class="p-2 inner-container rounded shadow-md my-7 mx-3 bg-white"
>
    <mat-nav-list>
        <mat-list-item
            *ngFor="let i of navList; let id = index"
            [routerLink]="i.route"
            (click)="goTo(i)"
            class="min-w-10"
            routerLinkActive="active"
            [ngClass]="{'active' : i.selected}"
          
        >
            <button mat-button class="flex items-center gap-x-1.5">
                <mat-icon>{{ i.icon }}</mat-icon>
                <span>{{ i.name }}</span>
            </button>
        </mat-list-item>
    </mat-nav-list>
</mat-drawer-container>
