<div class="flex justify-center items-center infxs:px-6 md:px-16">
    <div class="py-6 text-md xl:text-base">
        <div class="flex flex-col infxs:gap-y-2 md:gap-y-4 English_section">
            <p>
                This is a public site with free access and Pyramid Innovations
                Limited assumes no liability for the quality and genuineness of
                responses. Pyramid Innovations Limited is not liable for any
                information provided by any individual. The individual/company
                would have to conduct its own background checks on the bonafide
                nature of all responses. Pyramid Innovations Limited will not be
                liable on account of any inaccuracy of information on this web
                site. It is the responsibility of the visitor to further
                research the information on the site. Any breach of privacy or
                of the information provided by the consumer to Pyramid
                Innovations Limited to be placed on the website by technical or
                any other means is not the responsibility of Pyramid Innovations
                Limited. Pyramid Innovations Limited does not guarantee
                confidentiality of information provided to it by any person
                acquiring/using all/any information displayed on the Pyramid
                Innovations Limited website.
            </p>

            <h3 class="font-bold">RESUME DISPLAY</h3>
            <div class="infxs:ml-6 md:ml-14">
                <ol>
                    1. Pyramid Innovations Limited allows you to Post/Submit
                    your resume in the Pyramid Innovations Limited website free
                    of cost.
                </ol>
                <ol>
                    2. The resume displayed can be updated free of cost.
                </ol>
                <ol>
                    3. Pyramid Innovations Limited offers no guarantee n (or)
                    warranties that there would be a satisfactory response or
                    any response once the resume is put on display.
                </ol>
                <ol>
                    4. Pyramid Innovations Limited neither guarantees nor offers
                    any warranty about the credentials of the prospective
                    employer/organization which downloads the information and
                    uses it to contact the prospective employee.
                </ol>
                <ol>
                    5. Pyramid Innovations Limited would not be held liable for
                    loss of any data technical or otherwise, information,
                    particulars supplied by customers due to reasons beyond its
                    control like corruption of data or delay or failure to
                    perform as a result of any causes or conditions that are
                    beyond Pyramid Innovations Limited's reasonable control
                    including but not limited to strikes, riots, civil unrest,
                    Govt. policies, tampering of data by unauthorized persons
                    like hackers, war and natural calamities.
                </ol>
                <ol>
                    6. It shall be sole prerogative and responsibility of the
                    individual to check the authenticity of all or any response
                    received pursuant to the resume being displayed by Pyramid
                    Innovations Limited for going out of station or in station
                    for any job, interview and Pyramid Innovations Limited
                    assumes no responsibility in respect thereof
                </ol>
                <ol>
                    7. Pyramid Innovations Limited reserves its right to reject
                    any insertion or information/data provided by the user
                    without assigning any reason.
                </ol>
                <ol>
                    8. This subscription is not transferable i.e. it is for the
                    same person throughout the whole period.
                </ol>
                <ol>
                    9. Pyramid Innovations Limited has the right to make all
                    such modifications/editing of resume in order to fit resume
                    in database.
                </ol>
            </div>

            <h3 class="font-bold">RESUME FLASH</h3>
            <div class="infxs:ml-6 md:ml-14">
                <ol>
                    1. Pyramid Innovations Limited offers no guarantee nor
                    warranties that there would be a satisfactory response or
                    any response once the resume is zapped.
                </ol>
                <ol>
                    2. Pyramid Innovations Limited neither guarantees nor offers
                    any warranty about the credentials of the prospective
                    employer/organization which receives the information and
                    uses it to contact the prospective employee.
                </ol>
                <ol>
                    3. It shall be sole prerogative and responsibility of the
                    individual to check the authenticity of all or any response
                    received pursuant to the resume being zapped by Pyramid
                    Innovations Limited for going out of station or in station
                    for any job interview and Pyramid Innovations Limited
                    assumes no responsibility in respect thereof.
                </ol>
                <ol>
                    4. The user shall have no right to demand any information
                    regarding the organizations to whom the resume has been sent
                    and Pyramid Innovations Limited would be in no legal or
                    other obligation to disclose/reveal the particulars of the
                    organizations.
                </ol>
                <ol>
                    5. Pyramid Innovations Limited reserves its right to reject
                    any insertion or information/data provided by the user
                    without assigning any reason. But in such an eventuality,
                    any amount so paid for, shall be refunded to the user on a
                    pro-rata basis.
                </ol>
            </div>

            <h3 class="font-bold">RESUME DEVELOPMENET</h3>
            <div class="infxs:ml-6 md:ml-14">
                <ol>
                    1. The user shall certify that the information/data supplied
                    by it to Pyramid Innovations Limited is accurate and
                    correct.
                </ol>
                <ol>
                    2. The user shall give a reasonable time to Pyramid
                    Innovations Limited for development of the resume.
                </ol>
                <ol>
                    3. Pyramid Innovations Limited would not be held liable for
                    loss of any data technical or otherwise, information,
                    particulars supplied by customers due to reasons beyond its
                    control like corruption of data or delay or failure to
                    perform as a result of any causes or conditions that are
                    beyond Pyramid Innovations Limited's reasonable control
                    including but not limited to strikes, riots, civil unrest,
                    Govt. policies, tampering of data by unauthorized persons
                    like hackers, war and natural calamities.
                </ol>
                <ol>
                    4. Pyramid Innovations Limited reserves its right to reject
                    any insertion or information/data provided by the user
                    without assigning any reason.
                </ol>
            </div>

            <h3 class="font-bold">CLASSIFIED JOB LISTING (SINGLE)</h3>
            <div class="infxs:ml-6 md:ml-14">
                <ol>
                    1. Pyramid Innovations Limited will allow the
                    Subscriber/Recruiter to place the information only in the
                    classified section of the site Pyramid Innovations Limited.
                </ol>
                <ol>
                    2. The insertion so displayed in the classified section of
                    Pyramid Innovations Limited will be for a period of maximum
                    30 days, which period is subject to change without notice.
                </ol>
                <ol>
                    3. Pyramid Innovations Limited reserves its right to reject
                    any insertion or information/data provided by the user
                    without assigning any reason. In such an eventuality, any
                    amount so paid for, shall be refunded to the user on a
                    pro-rata basis.
                </ol>
                <ol>
                    4. Pyramid Innovations Limited has the right to make all
                    such modifications/editing of the vacancy details in order
                    to fit in the database.
                </ol>
                <ol>
                    5. The Subscriber/Recruiter may use up to a maximum of 2
                    email id's for vacancies posted on Pyramid Innovations
                    Limited in the Classified section to collect response.
                </ol>
                <ol>
                    6. Pyramid Innovations Limited may at its sole discretion
                    include the vacancy intimated by client for display on
                    Pyramid Innovations Limited in the print media through
                    various media alliances in other print vehicles with no
                    extra costs to the client. However, if a client wishes not
                    to have its vacancies/requirement from appearing in print
                    media, then the client shall specifically inform Pyramid
                    Innovations Limited Limited in writing accordingly at the
                    time of intimating of the vacancy.
                </ol>
                <ol>
                    7. Pyramid Innovations Limited offers no guarantee nor
                    warranty that there would be a satisfactory response or any
                    response once the job is put on display.
                </ol>
                <ol>
                    8. Pyramid Innovations Limited shall in no way be held
                    liable for any information provided by the applicant to the
                    subscriber and it shall be the sole responsibility of the
                    user to check, authenticate and verify the
                    information/response received at its own cost and expense.
                </ol>
                <ol>
                    9. Pyramid Innovations Limited would not be held liable for
                    any loss of data, technical or otherwise, information,
                    particulars supplied by the customers, due the reasons
                    beyond its control like corruption of data or delay or
                    failure to perform as a result of any causes or conditions
                    that are beyond Pyramid Innovations Limited's reasonable
                    control including but not limited to strike, riots, civil
                    unrest, Govt. policies, tampering of data by unauthorized
                    persons like hackers, war and natural calamities.
                </ol>
                <ol>
                    10. The subscriber/Recruiter must give an undertaking to
                    Pyramid Innovations Limited that the jobs sought to be
                    advertised on the classified section of Pyramid Innovations
                    Limited are in existence, are genuine and that the
                    subscriber has the authority to list the jobs.
                </ol>
                <ol>
                    11. The subscriber/Recruiter must give an undertaking to
                    Pyramid Innovations Limited that there will be no fee
                    charged from an applicant who responds to jobs advertised on
                    the classified section of Pyramid Innovations Limited for
                    processing of the application.
                </ol>
                <ol>
                    12. Pyramid Innovations Limited reserves its right to change
                    the look, feel, design, prominence, depiction,
                    classification of the classified section of Pyramid
                    Innovations Limited at any time without assigning any reason
                    and without giving any notice.
                </ol>
            </div>

            <h3 class="font-bold">
                CLASSIFIED SUBSCRIPTIONS FOR VARIOUS PERIOD
            </h3>
            <div class="infxs:ml-6 md:ml-14">
                <ol>
                    1. Pyramid Innovations Limited will allow the
                    Subscriber/Recruiter to place the information only in the
                    classified section of the site Pyramid Innovations Limited.
                </ol>
                <ol>
                    2. Each insertion so displayed in the classified section of
                    Pyramid Innovations Limited shall be for a period of 30
                    days, which period is subject to change without notice.
                </ol>
                <ol>
                    3. Pyramid Innovations Limited reserves its right to reject
                    any insertion or information/data provided by the user
                    without assigning any reason. In such an eventuality, any
                    amount so paid for, shall be refunded to the user on a
                    pro-rata basis.
                </ol>
                <ol>
                    4. Pyramid Innovations Limited has the right to make all
                    such modifications/editing of the vacancy details in order
                    to fit in the database.
                </ol>
                <ol>
                    5. The Subscriber/Recruiter may use up to a maximum of 2
                    email id's for vacancies posted on Pyramid Innovations
                    Limited in the Classified section to collect response.
                </ol>
                <ol>
                    6. Pyramid Innovations Limited may at its sole discretion
                    include the vacancy intimated by client for display on
                    Pyramid Innovations Limited in the print media through
                    various media alliances in other print vehicles with no
                    extra costs to the client. However, if a client wishes not
                    to have its vacancies/requirement from appearing in print
                    media, then the client shall specifically inform Pyramid
                    Innovations Limited in writing accordingly at the time of
                    intimating of the vacancy.
                </ol>
                <ol>
                    7. Pyramid Innovations Limited offers no guarantee nor
                    warranties that there would be a satisfactory response or
                    any response once the job is put on display.
                </ol>
                <ol>
                    8. Pyramid Innovations Limited shall in no way be held
                    liable for any information provided by the applicant to the
                    subscriber and it shall be the sole responsibility of the
                    subscriber to check, authenticate and verify the
                    information/response received at its own cost and expense.
                </ol>
                <ol>
                    9. Pyramid Innovations Limited would not be held liable for
                    loss of any data technical or otherwise, information,
                    particulars supplied by the customers due to the reasons
                    beyond its control like corruption of data or delay or
                    failure to perform as a result of any causes or conditions
                    that are beyond Pyramid Innovations Limited's reasonable
                    control including but not limited to strike, riots, civil
                    unrest, Govt. policies, tampering of data by unauthorized
                    persons like hackers, war and natural calamities.
                </ol>
                <ol>
                    10. The subscriber/Recruiter must give an undertaking to
                    Pyramid Innovations Limited that the jobs sought to be
                    advertised on the classified section of Pyramid Innovations
                    Limited are in existence, are genuine and that the
                    subscriber has the authority to list the jobs.
                </ol>
                <ol>
                    11. The subscriber/Recruiter must give an undertaking to
                    Pyramid Innovations Limited that there will be no fee
                    charged from an applicant who responds to jobs advertised on
                    the classified section of Pyramid Innovations Limited for
                    processing of the application.
                </ol>
                <ol>
                    12. Pyramid Innovations Limited reserves its right to change
                    the look, feel, design, prominence, depiction,
                    classification of the classified section of Pyramid
                    Innovations Limited at any time without assigning any reason
                    and without giving any notice.
                </ol>
                <ol>
                    13. The subscriber to this service shall be entitled to
                    unlimited listings during the period of subscription.
                </ol>
                <ol>
                    14. This service is neither resaleable nor transferable by
                    the subscriber to any other person, corporate body, firm or
                    individual.
                </ol>
                <ol>
                    15. Only one office of one corporate entity / firm will be
                    entitled to use this service and in case other offices of
                    the same company/ associated companies, want to use the said
                    service, then, they shall be liable to make extra payment
                    for the service.
                </ol>
                <ol>
                    16. The contact information given by the subscriber for all
                    listings should be the same and the subscriber cannot give
                    multiple contact information/data for the purpose of
                    listing.
                </ol>
                <ol>
                    17. Only insertions with contact information registered with
                    Pyramid Innovations Limited will be displayed on the site
                </ol>
            </div>

            <h3 class="font-bold">HOT JOB (SINGLE)</h3>
            <div class="infxs:ml-6 md:ml-14">
                <ol>
                    1. Pyramid Innovations Limited shall place the information
                    relating to vacancies in the Hot Jobs & Classified sections
                    of Pyramid Innovations Limited.
                </ol>
                <ol>
                    2. The insertion so displayed in the classified section of
                    Pyramid Innovations Limited shall be for a period of 30
                    days, which is subject to change without notice.
                </ol>
                <ol>
                    3. Pyramid Innovations Limited has the right to make all
                    such modifications/editing of the vacancy details in order
                    to fit in the database.
                </ol>
                <ol>
                    4. Pyramid Innovations Limited reserves its right to reject
                    any insertion or information/data provided by the user
                    without assigning any reason. In such an eventuality, any
                    amount so paid for, shall be refunded to the user on a
                    pro-rata basis.
                </ol>
                <ol>
                    5. Pyramid Innovations Limited may at its sole discretion
                    include the vacancy intimated by client for display on
                    Pyramid Innovations Limited in the print media through
                    various media alliances in other print vehicles with no
                    extra costs to the client. However, if a client wishes not
                    to have its vacancies/requirement from appearing in print
                    media, then the client shall specifically inform Pyramid
                    Innovations Limited in writing accordingly at the time of
                    intimating of the vacancy.
                </ol>
                <ol>
                    6. Pyramid Innovations Limited offers no guarantee nor
                    warranties that there would be a satisfactory response or
                    any response once the job vacancy is put on display.
                </ol>
                <ol>
                    7. Pyramid Innovations Limited shall in no way be held
                    liable for any information provided by applicant(s) to the
                    subscriber and it shall be the sole responsibility of the
                    subscriber to check, authenticate and verify the
                    information/response received at its own cost and expense.
                </ol>
                <ol>
                    8. Pyramid Innovations Limited would not be held liable for
                    any loss of data technical or otherwise, information,
                    particulars supplied by the customers due to reasons beyond
                    its control like corruption of data or delay or failure to
                    perform as a result of any causes or conditions that are
                    beyond Pyramid Innovations Limited's reasonable control
                    including but not limited to strike, riots, civil unrest,
                    Govt. policies, tampering of data by unauthorized persons
                    like hackers, war and natural calamities.
                </ol>
                <ol>
                    9. The subscriber/Recruiter must give an undertaking to
                    Pyramid Innovations Limited that the jobs sought to be
                    advertised on the 'Hot Job' and `Classified' sections of
                    Pyramid Innovations Limited are in existence, genuine and
                    the subscriber has the authority to list the jobs.
                </ol>
                <ol>
                    10. The subscriber/Recruiter must give an undertaking to
                    Pyramid Innovations Limited that there will be no fee
                    charged from an applicant who responds to jobs advertised on
                    the 'Hot Jobs' and 'Classified' sections of Pyramid
                    Innovations Limited for processing of the application.
                </ol>
                <ol>
                    11. Pyramid Innovations Limited reserves its right to change
                    the look, feel, design, prominence, depiction,
                    classification of the classified and/or Hot Jobs section of
                    Pyramid Innovations Limited at any time without assigning
                    any reason and without giving any notice.
                </ol>
                <ol>
                    12. The subscriber to this service shall be entitled for
                    unlimited listing during the period of subscription.
                </ol>
                <ol>
                    13. This service is neither resaleable nor transferable by
                    the subscriber to any other person, corporate body, firm or
                    individual.
                </ol>
            </div>

            <h3 class="font-bold">MANUAL SHORTLISTING</h3>
            <div class="infxs:ml-6 md:ml-14">
                <ol>
                    1. Pyramid Innovations Limited agrees to provide the service
                    to the subscriber only for the duration and the number of
                    vacancies contracted for, to the best of its ability.
                </ol>
                <ol>
                    2. Pyramid Innovations Limited will receive, open, read and
                    sort all resumes received in response to the vacancies for
                    which the service is offered.
                </ol>
                <ol>
                    3. Sorting shall be done using the parameters for selection
                    decided by the subscriber.
                </ol>
                <ol>
                    4. Pyramid Innovations Limited would not be held liable for
                    any loss of data technical or otherwise, information,
                    particulars supplied by the customers due to the reasons
                    beyond its control like corruption of data or delay or
                    failure to perform as a result of any causes or conditions
                    that are beyond Pyramid Innovations Limited's reasonable
                    control including but not limited to strike, riots, civil
                    unrest, Govt. policies, tampering of data by unauthorized
                    persons like hackers, war and natural calamities.
                </ol>
                <ol>
                    5. It is made clear that the subscriber being one
                    corporate/business entity, cannot transfer/sell/sublet the
                    micro site or any part thereof to any third party.
                </ol>
            </div>

            <h3 class="font-bold">DISPLAY OF BANNERS</h3>
            <div class="infxs:ml-6 md:ml-14">
                <ol>
                    1. Pyramid Innovations Limited agrees to provide the service
                    to the subscriber only for the duration or the number of
                    impressions contracted for, to the best of its ability.
                </ol>
                <ol>
                    2. Pyramid Innovations Limited will display banners on the
                    homepage on a rotation basis, wherein banners from different
                    subscribers are displayed in a sequential manner, managed by
                    a smart software.
                </ol>
                <ol>
                    3. In case of "Run of the Web site" deals, Pyramid
                    Innovations Limited reserves the right to choose the
                    sections where the banners of a subscriber are to be
                    displayed, at any point in time, during the period of the
                    contract.
                </ol>
                <ol>
                    4. Pyramid Innovations Limited reserves its right to reject
                    any insertion or information/data provided by the user
                    without assigning any reason. In such an eventuality, any
                    amount so paid for, shall be refunded to the user on a
                    pro-rata basis.
                </ol>
                <ol>
                    5. Pyramid Innovations Limited offers no guarantee nor
                    warranties that there would be a satisfactory response or
                    any response once the banners are put on display.
                </ol>
                <ol>
                    6. Pyramid Innovations Limited would not be held liable for
                    any loss of data technical or otherwise, information,
                    particulars supplied by the customers due to the reasons
                    beyond its control like corruption of data or delay or
                    failure to perform as a result of any causes or conditions
                    that are beyond Pyramid Innovations Limited's reasonable
                    control including but not limited to strike, riots, civil
                    unrest, Govt. policies, tampering of data by unauthorized
                    persons like hackers, war and natural calamities.
                </ol>
                <ol>
                    7. It is made clear that the subscriber being one
                    corporate/business entity, cannot transfer/sell/sublet the
                    micro site or any part thereof to any third party.
                </ol>
            </div>
        </div>
        <div
            class="flex flex-col infxs:gap-y-2 md:gap-y-4 pt-10 Bangla_section"
        >
            <h3 class="font-bold">শর্তাবলী:</h3>
            <p>
                এটি বিনামূল্যে অ্যাক্সেস সহ একটি সর্বজনীন সাইট এবং পিরামিড
                ইনোভেশনস লিমিটেড প্রতিক্রিয়াগুলির গুণমান এবং সত্যতার জন্য কোনও
                দায়বদ্ধতা গ্রহণ করে না। পিরামিড ইনোভেশনস লিমিটেড কোনো ব্যক্তির
                দ্বারা প্রদত্ত কোনো তথ্যের জন্য দায়ী নয়। ব্যক্তি/কোম্পানীকে
                সমস্ত প্রতিক্রিয়ার প্রকৃত প্রকৃতির উপর তার নিজস্ব ব্যাকগ্রাউন্ড
                চেক করতে হবে। <br />
                পিরামিড ইনোভেশনস লিমিটেড এই ওয়েব সাইটের তথ্যের কোনো ভুলের জন্য
                দায়ী থাকবে না। সাইটের তথ্য আরও গবেষণা করা ভিজিটরের দায়িত্ব।
                প্রযুক্তিগত বা অন্য কোনো উপায়ে ওয়েবসাইটে স্থাপন করার জন্য
                পিরামিড ইনোভেশনস লিমিটেডকে গ্রাহকের দেওয়া গোপনীয়তা বা তথ্যের
                কোনো লঙ্ঘন পিরামিড ইনোভেশন লিমিটেডের দায়বদ্ধ নয়। পিরামিড
                ইনোভেশনস লিমিটেড পিরামিড ইনোভেশনস লিমিটেড ওয়েবসাইটে প্রদর্শিত
                সমস্ত/যেকোন তথ্য অর্জন/ব্যবহার করে এমন কোনো ব্যক্তি কর্তৃক
                প্রদত্ত তথ্যের গোপনীয়তার গ্যারান্টি দেয় না।
            </p>

            <h3 class="font-bold">সংক্ষিপ্ত বিবরণ প্রদর্শন:</h3>
            <div class="infxs:ml-6 md:ml-14">
                <li>
                    পিরামিড ইনোভেশনস লিমিটেড আপনাকে বিনামূল্যে পিরামিড ইনোভেশনস
                    লিমিটেড ওয়েবসাইটে আপনার জীবনবৃত্তান্ত পোস্ট/সাবমিট করতে
                    দেয়।
                </li>
                <li>প্রদর্শিত জীবনবৃত্তান্ত বিনামূল্যে আপডেট করা যেতে পারে।</li>
                <li>
                    পিরামিড ইনোভেশনস লিমিটেড কোন গ্যারান্টি এন (অথবা) ওয়ারেন্টি
                    দেয় না যে একটি সন্তোষজনক প্রতিক্রিয়া বা যেকোন প্রতিক্রিয়া
                    একবার প্রদর্শিত হবে।
                </li>
                <li>
                    পিরামিড ইনোভেশনস লিমিটেড সম্ভাব্য নিয়োগকর্তা/সংস্থার
                    প্রমাণপত্র সম্পর্কে কোন গ্যারান্টি দেয় না বা কোন ওয়ারেন্টি
                    দেয় না যা তথ্য ডাউনলোড করে এবং সম্ভাব্য কর্মচারীর সাথে
                    যোগাযোগ করতে ব্যবহার করে।
                </li>
                <li>
                    পিরামিড ইনোভেশনস লিমিটেড কোনো তথ্য প্রযুক্তিগত বা অন্যথায়,
                    গ্রাহকদের দ্বারা সরবরাহকৃত তথ্য, তথ্যের ক্ষতির জন্য দায়ী
                    থাকবে না যেমন ডেটার দুর্নীতি বা বিলম্ব বা কার্য সম্পাদন করতে
                    ব্যর্থতার কারণে এমন কোনো কারণ বা শর্ত যা এর বাইরে। পিরামিড
                    ইনোভেশনস লিমিটেডের যুক্তিসঙ্গত নিয়ন্ত্রণ সহ কিন্তু সীমাবদ্ধ
                    নয় ধর্মঘট, দাঙ্গা, নাগরিক অস্থিরতা, সরকার। নীতি, হ্যাকার,
                    যুদ্ধ এবং প্রাকৃতিক দুর্যোগের মতো অননুমোদিত ব্যক্তিদের
                    দ্বারা ডেটা টেম্পারিং।
                </li>
                <li>
                    পিরামিড ইনোভেশনস লিমিটেড যে কোনও চাকরি, ইন্টারভিউয়ের জন্য
                    স্টেশনের বাইরে বা স্টেশনে যাওয়ার জন্য পিরামিড ইনোভেশনস
                    লিমিটেডের দ্বারা প্রদর্শিত জীবনবৃত্তান্ত অনুসারে প্রাপ্ত
                    সমস্ত বা যে কোনও প্রতিক্রিয়ার সত্যতা যাচাই করার একমাত্র
                    অধিকার এবং দায়িত্ব হবে এবং পিরামিড ইনোভেশন লিমিটেড কোনও
                    দায়বদ্ধ নয় তার সম্মানে
                </li>
                <li>
                    পিরামিড ইনোভেশনস লিমিটেড কোনো কারণ ব্যতিরেকে ব্যবহারকারীর
                    দেওয়া কোনো সন্নিবেশ বা তথ্য/ডেটা প্রত্যাখ্যান করার অধিকার
                    সংরক্ষণ করে।
                </li>
                <li>
                    এই সাবস্ক্রিপশনটি হস্তান্তরযোগ্য নয় অর্থাৎ এটি পুরো মেয়াদ
                    জুড়ে একই ব্যক্তির জন্য।
                </li>
                <li>
                    পিরামিড ইনোভেশনস লিমিটেড ডাটাবেসে জীবনবৃত্তান্ত ফিট করার
                    জন্য জীবনবৃত্তান্তের এই ধরনের সমস্ত পরিবর্তন/সম্পাদনা করার
                    অধিকার রাখে।
                </li>
            </div>

            <h3 class="font-bold">সংক্ষিপ্ত বিবরণ পুনরায় শুরু করুন:</h3>
            <div class="infxs:ml-6 md:ml-14">
                <li>
                    পিরামিড ইনোভেশনস লিমিটেড কোনও গ্যারান্টি বা ওয়ারেন্টি দেয়
                    না যে একবার সারসংকলনটি জ্যাপ করার পরে একটি সন্তোষজনক
                    প্রতিক্রিয়া বা কোনও প্রতিক্রিয়া হবে।
                </li>
                <li>
                    পিরামিড ইনোভেশনস লিমিটেড সম্ভাব্য নিয়োগকর্তা/সংস্থার
                    শংসাপত্র সম্পর্কে কোন গ্যারান্টি দেয় না বা কোন ওয়ারেন্টি
                    দেয় না যারা তথ্য গ্রহণ করে এবং সম্ভাব্য কর্মচারীর সাথে
                    যোগাযোগ করতে এটি ব্যবহার করে।
                </li>
                <li>
                    পিরামিড ইনোভেশনস লিমিটেড যে কোনো চাকরির ইন্টারভিউয়ের জন্য
                    স্টেশনের বাহিরে বা স্টেশনে যাওয়ার জন্য সারসংকলনটি জ্যাপ করা
                    অনুসারে প্রাপ্ত সমস্ত বা যে কোনো প্রতিক্রিয়ার সত্যতা যাচাই
                    করার একমাত্র অধিকার এবং দায়িত্ব হবে এবং পিরামিড ইনোভেশনস
                    লিমিটেড কোন দায়িত্ব গ্রহণ করে না। এর সম্মান।
                </li>
                <li>
                    যে প্রতিষ্ঠানের কাছে জীবনবৃত্তান্ত পাঠানো হয়েছে তাদের
                    সম্পর্কে ব্যবহারকারীর কোনো তথ্য দাবি করার অধিকার থাকবে না
                    এবং পিরামিড ইনোভেশনস লিমিটেড সংস্থার বিবরণ প্রকাশ/প্রকাশ
                    করার কোনো আইনি বা অন্য কোনো বাধ্যবাধকতা থাকবে না।
                </li>
                <li>
                    পিরামিড ইনোভেশনস লিমিটেড কোনো কারণ ব্যতিরেকে ব্যবহারকারীর
                    দেওয়া কোনো সন্নিবেশ বা তথ্য/ডেটা প্রত্যাখ্যান করার অধিকার
                    সংরক্ষণ করে। কিন্তু এই ধরনের পরিস্থিতিতে, যেকোন পরিমাণের
                    জন্য প্রদত্ত অর্থ ব্যবহারকারীকে অনুপাতের ভিত্তিতে ফেরত
                    দেওয়া হবে।
                </li>
            </div>

            <h3 class="font-bold">সংক্ষিপ্ত বিবরণ উন্নয়ন:</h3>
            <div class="infxs:ml-6 md:ml-14">
                <li>
                    ব্যবহারকারীকে প্রত্যয়ন করতে হবে যে পিরামিড ইনোভেশনস
                    লিমিটেডের দ্বারা সরবরাহ করা তথ্য/ডেটা সঠিক এবং সঠিক।
                </li>
                <li>
                    ব্যবহারকারীকে জীবনবৃত্তান্তের বিকাশের জন্য পিরামিড ইনোভেশনস
                    লিমিটেডকে একটি যুক্তিসঙ্গত সময় দিতে হবে।
                </li>
                <li>
                    পিরামিড ইনোভেশনস লিমিটেড কোনো তথ্য প্রযুক্তিগত বা অন্যথায়,
                    গ্রাহকদের দ্বারা সরবরাহকৃত তথ্য, তথ্যের ক্ষতির জন্য দায়ী
                    থাকবে না যেমন ডেটার দুর্নীতি বা বিলম্ব বা কার্য সম্পাদন করতে
                    ব্যর্থতার কারণে এমন কোনো কারণ বা শর্ত যা এর বাইরে। পিরামিড
                    ইনোভেশনস লিমিটেডের যুক্তিসঙ্গত নিয়ন্ত্রণ সহ কিন্তু সীমাবদ্ধ
                    নয় ধর্মঘট, দাঙ্গা, নাগরিক অস্থিরতা, সরকার। নীতি, হ্যাকার,
                    যুদ্ধ এবং প্রাকৃতিক দুর্যোগের মতো অননুমোদিত ব্যক্তিদের
                    দ্বারা ডেটা টেম্পারিং।
                </li>
                <li>
                    পিরামিড ইনোভেশনস লিমিটেড কোনো কারণ ব্যতিরেকে ব্যবহারকারীর
                    দেওয়া কোনো সন্নিবেশ বা তথ্য/ডেটা প্রত্যাখ্যান করার অধিকার
                    সংরক্ষণ করে।
                </li>
            </div>

            <h3 class="font-bold">শ্রেণীবদ্ধ কাজের তালিকা (একক)</h3>
            <div class="infxs:ml-6 md:ml-14">
                <li>
                    Pyramid Innovations Limited গ্রাহক/নিয়োগকারীকে শুধুমাত্র
                    Pyramid Innovations Limited সাইটের শ্রেণীবদ্ধ বিভাগে তথ্য
                    রাখার অনুমতি দেবে।
                </li>
                <li>
                    পিরামিড ইনোভেশনস লিমিটেডের শ্রেণীবদ্ধ বিভাগে প্রদর্শিত
                    সন্নিবেশটি সর্বাধিক 30 দিনের জন্য হবে, যে সময়কাল বিজ্ঞপ্তি
                    ছাড়াই পরিবর্তন হতে পারে।
                </li>
                <li>
                    পিরামিড ইনোভেশনস লিমিটেড কোনো কারণ ব্যতিরেকে ব্যবহারকারীর
                    দেওয়া কোনো সন্নিবেশ বা তথ্য/ডেটা প্রত্যাখ্যান করার অধিকার
                    সংরক্ষণ করে। এই ধরনের পরিস্থিতিতে, যেকোন পরিমাণ অর্থ প্রদান
                    করা হলে, ব্যবহারকারীকে অনুপাতের ভিত্তিতে ফেরত দেওয়া হবে।
                </li>
                <li>
                    পিরামিড ইনোভেশনস লিমিটেড ডাটাবেসে ফিট করার জন্য খালি পদের
                    বিবরণের এই ধরনের সমস্ত পরিবর্তন/সম্পাদনা করার অধিকার রাখে।
                </li>
                <li>
                    সাবস্ক্রাইবার/নিয়োগকারী প্রতিক্রিয়া সংগ্রহের জন্য
                    শ্রেণীবদ্ধ বিভাগে পিরামিড ইনোভেশন লিমিটেডে পোস্ট করা
                    শূন্যপদগুলির জন্য সর্বাধিক 2টি ইমেল আইডি ব্যবহার করতে পারে।
                </li>
                <li>
                    পিরামিড ইনোভেশনস লিমিটেড তার নিজস্ব বিবেচনার ভিত্তিতে
                    ক্লায়েন্টকে কোন অতিরিক্ত খরচ ছাড়াই অন্যান্য প্রিন্ট যানে
                    বিভিন্ন মিডিয়া অ্যালায়েন্সের মাধ্যমে প্রিন্ট মিডিয়াতে
                    পিরামিড ইনোভেশন লিমিটেডের প্রদর্শনের জন্য ক্লায়েন্ট দ্বারা
                    অবহিত করা শূন্যপদ অন্তর্ভুক্ত করতে পারে। যাইহোক, যদি একজন
                    ক্লায়েন্ট প্রিন্ট মিডিয়াতে উপস্থিত থেকে তার
                    শূন্যপদ/প্রয়োজনীয়তা না রাখতে চান, তাহলে ক্লায়েন্টকে
                    বিশেষভাবে পিরামিড ইনোভেশনস লিমিটেড লিমিটেডকে সেই শূন্যপদ
                    সম্পর্কে জানানোর সময় লিখিতভাবে জানাতে হবে।
                </li>
                <li>
                    পিরামিড ইনোভেশনস লিমিটেড কোন গ্যারান্টি বা ওয়ারেন্টি দেয়
                    না যে কাজটি প্রদর্শন করা হলে সন্তোষজনক প্রতিক্রিয়া বা কোন
                    প্রতিক্রিয়া হবে।
                </li>
                <li>
                    পিরামিড ইনোভেশনস লিমিটেড কোনোভাবেই গ্রাহককে আবেদনকারীর
                    দেওয়া কোনো তথ্যের জন্য দায়বদ্ধ হবে না এবং ব্যবহারকারীর
                    নিজস্ব খরচ এবং খরচে প্রাপ্ত তথ্য/প্রতিক্রিয়া চেক,
                    প্রমাণীকরণ এবং যাচাই করার একমাত্র দায়িত্ব হবে।
                </li>
                <li>
                    পিরামিড ইনোভেশনস লিমিটেড ডেটা, প্রযুক্তিগত বা অন্যথায়,
                    গ্রাহকদের দ্বারা সরবরাহ করা তথ্য, তথ্যের ক্ষতির জন্য দায়ী
                    হবে না, যেমন ডেটার দুর্নীতি বা বিলম্ব বা কোনো কারণ বা শর্তের
                    ফলে সম্পাদন করতে ব্যর্থতার মতো তার নিয়ন্ত্রণের বাইরের
                    কারণে। যেগুলি পিরামিড ইনোভেশনস লিমিটেডের যুক্তিসঙ্গত
                    নিয়ন্ত্রণের বাইরে যার মধ্যে ধর্মঘট, দাঙ্গা, নাগরিক
                    অস্থিরতা, সরকার সহ কিন্তু সীমাবদ্ধ নয়। নীতি, হ্যাকার, যুদ্ধ
                    এবং প্রাকৃতিক দুর্যোগের মতো অননুমোদিত ব্যক্তিদের দ্বারা ডেটা
                    টেম্পারিং।
                </li>
                <li>
                    গ্রাহক/নিয়োগকারীকে অবশ্যই পিরামিড ইনোভেশনস লিমিটেডকে একটি
                    অঙ্গীকার দিতে হবে যে পিরামিড ইনোভেশনস লিমিটেডের শ্রেণীবদ্ধ
                    বিভাগে বিজ্ঞাপনের জন্য চাওয়া চাকরিগুলি বিদ্যমান, প্রকৃত এবং
                    চাকরির তালিকা করার ক্ষমতা গ্রাহকের রয়েছে।
                </li>
                <li>
                    গ্রাহক/নিয়োগকারীকে অবশ্যই পিরামিড ইনোভেশনস লিমিটেডকে একটি
                    অঙ্গীকার দিতে হবে যে আবেদনের প্রক্রিয়াকরণের জন্য পিরামিড
                    ইনোভেশনস লিমিটেডের শ্রেণীবদ্ধ বিভাগে বিজ্ঞাপন দেওয়া চাকরিতে
                    প্রতিক্রিয়া জানানো আবেদনকারীর কাছ থেকে কোনও ফি নেওয়া হবে
                    না।
                </li>
                <li>
                    পিরামিড ইনোভেশনস লিমিটেড কোনো কারণ ব্যতিরেকে এবং কোনো নোটিশ
                    না দিয়ে যে কোনো সময় পিরামিড ইনোভেশনস লিমিটেডের শ্রেণীবদ্ধ
                    বিভাগের চেহারা, অনুভূতি, নকশা, বিশিষ্টতা, চিত্রণ,
                    শ্রেণীবিভাগ পরিবর্তন করার অধিকার সংরক্ষণ করে।
                </li>
            </div>

            <h3 class="font-bold">
                বিভিন্ন সময়ের জন্য শ্রেণীবদ্ধ সাবস্ক্রিপশন:
            </h3>
            <div class="infxs:ml-6 md:ml-14">
                <li>
                    Pyramid Innovations Limited গ্রাহক/নিয়োগকারীকে শুধুমাত্র
                    Pyramid Innovations Limited সাইটের শ্রেণীবদ্ধ বিভাগে তথ্য
                    রাখার অনুমতি দেবে।
                </li>
                <li>
                    পিরামিড ইনোভেশনস লিমিটেডের শ্রেণীবদ্ধ বিভাগে প্রদর্শিত
                    প্রতিটি সন্নিবেশ 30 দিনের সময়ের জন্য হবে, যে সময়কাল
                    বিজ্ঞপ্তি ছাড়াই পরিবর্তন হতে পারে।
                </li>
                <li>
                    পিরামিড ইনোভেশনস লিমিটেড কোনো কারণ ব্যতিরেকে ব্যবহারকারীর
                    দেওয়া কোনো সন্নিবেশ বা তথ্য/ডেটা প্রত্যাখ্যান করার অধিকার
                    সংরক্ষণ করে। এই ধরনের পরিস্থিতিতে, যেকোন পরিমাণ অর্থ প্রদান
                    করা হলে, ব্যবহারকারীকে অনুপাতের ভিত্তিতে ফেরত দেওয়া হবে।
                </li>
                <li>
                    পিরামিড ইনোভেশনস লিমিটেড ডাটাবেসে ফিট করার জন্য খালি পদের
                    বিবরণের এই ধরনের সমস্ত পরিবর্তন/সম্পাদনা করার অধিকার রাখে।
                </li>
                <li>
                    সাবস্ক্রাইবার/নিয়োগকারী প্রতিক্রিয়া সংগ্রহের জন্য
                    শ্রেণীবদ্ধ বিভাগে পিরামিড ইনোভেশন লিমিটেডে পোস্ট করা
                    শূন্যপদগুলির জন্য সর্বাধিক 2টি ইমেল আইডি ব্যবহার করতে পারে।
                </li>
                <li>
                    পিরামিড ইনোভেশনস লিমিটেড তার নিজস্ব বিবেচনার ভিত্তিতে
                    ক্লায়েন্টকে কোন অতিরিক্ত খরচ ছাড়াই অন্যান্য প্রিন্ট যানে
                    বিভিন্ন মিডিয়া অ্যালায়েন্সের মাধ্যমে প্রিন্ট মিডিয়াতে
                    পিরামিড ইনোভেশন লিমিটেডের প্রদর্শনের জন্য ক্লায়েন্ট দ্বারা
                    অবহিত করা শূন্যপদ অন্তর্ভুক্ত করতে পারে। যাইহোক, যদি কোনো
                    ক্লায়েন্ট প্রিন্ট মিডিয়াতে উপস্থিত থেকে তার
                    শূন্যপদ/প্রয়োজনীয়তা না রাখতে চায়, তাহলে ক্লায়েন্টকে
                    বিশেষভাবে পিরামিড ইনোভেশনস লিমিটেডকে সেই শূন্যপদ সম্পর্কে
                    জানানোর সময় লিখিতভাবে জানাতে হবে।
                </li>
                <li>
                    পিরামিড ইনোভেশনস লিমিটেড কোন গ্যারান্টি বা ওয়ারেন্টি দেয়
                    না যে কাজটি প্রদর্শন করা হলে সন্তোষজনক প্রতিক্রিয়া বা কোন
                    প্রতিক্রিয়া হবে।
                </li>
                <li>
                    পিরামিড ইনোভেশনস লিমিটেড কোনোভাবেই গ্রাহককে আবেদনকারীর
                    দেওয়া কোনো তথ্যের জন্য দায়বদ্ধ হবে না এবং গ্রাহকের নিজস্ব
                    খরচে এবং খরচে প্রাপ্ত তথ্য/প্রতিক্রিয়া যাচাই, প্রমাণীকরণ
                    এবং যাচাই করার একমাত্র দায়িত্ব হবে।
                </li>
                <li>
                    পিরামিড ইনোভেশনস লিমিটেড কোনো তথ্য প্রযুক্তিগত বা অন্যথায়,
                    গ্রাহকদের দ্বারা সরবরাহকৃত তথ্য, তথ্যের ক্ষতির জন্য দায়ী
                    হবে না যেমন ডেটার দুর্নীতি বা বিলম্ব বা কার্য সম্পাদন করতে
                    ব্যর্থতার মতো কোনো কারণ বা শর্তের ফলে। পিরামিড ইনোভেশনস
                    লিমিটেডের যুক্তিসঙ্গত নিয়ন্ত্রণের বাইরে যা হরতাল, দাঙ্গা,
                    নাগরিক অস্থিরতা, সরকার সহ কিন্তু সীমাবদ্ধ নয়। নীতি,
                    হ্যাকার, যুদ্ধ এবং প্রাকৃতিক দুর্যোগের মতো অননুমোদিত
                    ব্যক্তিদের দ্বারা ডেটা টেম্পারিং।
                </li>
                <li>
                    গ্রাহক/নিয়োগকারীকে অবশ্যই পিরামিড ইনোভেশনস লিমিটেডকে একটি
                    অঙ্গীকার দিতে হবে যে পিরামিড ইনোভেশনস লিমিটেডের শ্রেণীবদ্ধ
                    বিভাগে বিজ্ঞাপনের জন্য চাওয়া চাকরিগুলি বিদ্যমান, প্রকৃত এবং
                    চাকরির তালিকা করার ক্ষমতা গ্রাহকের রয়েছে।
                </li>
                <li>
                    গ্রাহক/নিয়োগকারীকে অবশ্যই পিরামিড ইনোভেশনস লিমিটেডকে একটি
                    অঙ্গীকার দিতে হবে যে আবেদনের প্রক্রিয়াকরণের জন্য পিরামিড
                    ইনোভেশনস লিমিটেডের শ্রেণীবদ্ধ বিভাগে বিজ্ঞাপন দেওয়া চাকরিতে
                    প্রতিক্রিয়া জানানো আবেদনকারীর কাছ থেকে কোনও ফি নেওয়া হবে
                    না।
                </li>
                <li>
                    পিরামিড ইনোভেশনস লিমিটেড কোনো কারণ ব্যতিরেকে এবং কোনো নোটিশ
                    না দিয়ে যে কোনো সময় পিরামিড ইনোভেশনস লিমিটেডের শ্রেণীবদ্ধ
                    বিভাগের চেহারা, অনুভূতি, নকশা, বিশিষ্টতা, চিত্রণ,
                    শ্রেণীবিভাগ পরিবর্তন করার অধিকার সংরক্ষণ করে।
                </li>
                <li>
                    সাবস্ক্রিপশনের সময়কালে এই পরিষেবার গ্রাহক সীমাহীন তালিকার
                    অধিকারী হবেন।
                </li>
                <li>
                    এই পরিষেবাটি গ্রাহকদের দ্বারা অন্য কোন ব্যক্তি, কর্পোরেট
                    সংস্থা, ফার্ম বা ব্যক্তির কাছে পুনঃবিক্রয়যোগ্য বা
                    হস্তান্তরযোগ্য নয়।
                </li>
                <li>
                    একটি কর্পোরেট সত্তা/ফার্মের শুধুমাত্র একটি অফিস এই পরিষেবাটি
                    ব্যবহার করার অধিকারী হবে এবং একই কোম্পানি/সংশ্লিষ্ট
                    কোম্পানীর অন্যান্য অফিস যদি এই পরিষেবাটি ব্যবহার করতে চায়,
                    তাহলে, তারা পরিষেবাটির জন্য অতিরিক্ত অর্থ প্রদানের জন্য
                    দায়ী থাকবে।
                </li>
                <li>
                    সমস্ত তালিকার জন্য গ্রাহক দ্বারা প্রদত্ত যোগাযোগের তথ্য একই
                    হওয়া উচিত এবং গ্রাহক তালিকার উদ্দেশ্যে একাধিক যোগাযোগের
                    তথ্য/ডেটা দিতে পারবেন না।
                </li>
                <li>
                    শুধুমাত্র পিরামিড ইনোভেশনস লিমিটেডের সাথে নিবন্ধিত যোগাযোগের
                    তথ্য সহ সন্নিবেশ সাইটে প্রদর্শিত হবে।
                </li>
            </div>

            <h3 class="font-bold">জব (একক)</h3>
            <div class="infxs:ml-6 md:ml-14">
                <li>
                    পিরামিড ইনোভেশনস লিমিটেড হট জবস এবং পিরামিড ইনোভেশনস
                    লিমিটেডের শ্রেণীবদ্ধ বিভাগে শূন্যপদ সম্পর্কিত তথ্য রাখবে।
                </li>
                <li>
                    পিরামিড ইনোভেশনস লিমিটেড-এ প্রদর্শিত সন্নিবেশটি 30 দিনের
                    সময়ের জন্য হবে, যে সময়কাল বিজ্ঞপ্তি ছাড়াই পরিবর্তন হতে
                    পারে।
                </li>
                <li>
                    পিরামিড ইনোভেশনস লিমিটেড ডাটাবেসে ফিট করার জন্য খালি পদের
                    বিবরণের এই ধরনের সমস্ত পরিবর্তন/সম্পাদনা করার অধিকার রাখে।
                </li>
                <li>
                    পিরামিড ইনোভেশনস লিমিটেড কোনো কারণ ব্যতিরেকে ব্যবহারকারীর
                    দেওয়া কোনো সন্নিবেশ বা তথ্য/ডেটা প্রত্যাখ্যান করার অধিকার
                    সংরক্ষণ করে। এই ধরনের পরিস্থিতিতে, যেকোন পরিমাণ অর্থ প্রদান
                    করা হলে, ব্যবহারকারীকে অনুপাতের ভিত্তিতে ফেরত দেওয়া হবে।
                </li>
                <li>
                    পিরামিড ইনোভেশনস লিমিটেড তার নিজস্ব বিবেচনার ভিত্তিতে
                    ক্লায়েন্টকে কোন অতিরিক্ত খরচ ছাড়াই অন্যান্য প্রিন্ট যানে
                    বিভিন্ন মিডিয়া অ্যালায়েন্সের মাধ্যমে প্রিন্ট মিডিয়াতে
                    পিরামিড ইনোভেশন লিমিটেডের প্রদর্শনের জন্য ক্লায়েন্ট দ্বারা
                    অবহিত করা শূন্যপদ অন্তর্ভুক্ত করতে পারে। যাইহোক, যদি কোনো
                    ক্লায়েন্ট প্রিন্ট মিডিয়াতে উপস্থিত থেকে তার
                    শূন্যপদ/প্রয়োজনীয়তা না রাখতে চায়, তাহলে ক্লায়েন্টকে
                    বিশেষভাবে পিরামিড ইনোভেশনস লিমিটেডকে সেই শূন্যপদ সম্পর্কে
                    জানানোর সময় লিখিতভাবে জানাতে হবে।
                </li>
                <li>
                    পিরামিড ইনোভেশনস লিমিটেড কোনও গ্যারান্টি বা ওয়ারেন্টি দেয়
                    না যে একবার চাকরির শূন্যপদ প্রদর্শন করা হলে সন্তোষজনক
                    প্রতিক্রিয়া বা কোনও প্রতিক্রিয়া হবে।
                </li>
                <li>
                    পিরামিড ইনোভেশনস লিমিটেড কোনোভাবেই গ্রাহককে আবেদনকারীর
                    দ্বারা প্রদত্ত কোনো তথ্যের জন্য দায়বদ্ধ হবে না এবং এটি তার
                    নিজস্ব খরচে এবং খরচে প্রাপ্ত তথ্য/প্রতিক্রিয়া যাচাই,
                    প্রমাণীকরণ এবং যাচাই করার একমাত্র দায়িত্ব হবে গ্রাহকের।
                </li>
                <li>
                    পিরামিড ইনোভেশনস লিমিটেড ডেটার কারিগরি ক্ষতির জন্য বা
                    অন্যথায়, গ্রাহকদের দ্বারা সরবরাহকৃত তথ্য, তথ্যের ক্ষতির
                    জন্য দায়বদ্ধ হবে না যেমন তার নিয়ন্ত্রণের বাইরের কারণে
                    ডেটার দুর্নীতি বা বিলম্ব বা কোনো কারণ বা শর্তের ফলস্বরূপ
                    সম্পাদন করতে ব্যর্থতা। পিরামিড ইনোভেশনস লিমিটেডের
                    যুক্তিসঙ্গত নিয়ন্ত্রণের বাইরে যা হরতাল, দাঙ্গা, নাগরিক
                    অস্থিরতা, সরকার সহ কিন্তু সীমাবদ্ধ নয়। নীতি, হ্যাকার, যুদ্ধ
                    এবং প্রাকৃতিক দুর্যোগের মতো অননুমোদিত ব্যক্তিদের দ্বারা ডেটা
                    টেম্পারিং।
                </li>
                <li>
                    গ্রাহক/নিয়োগকারীকে অবশ্যই পিরামিড ইনোভেশনস লিমিটেডকে একটি
                    অঙ্গীকার দিতে হবে যে পিরামিড ইনোভেশনস লিমিটেডের 'হট জবস' এবং
                    'শ্রেণীবদ্ধ' বিভাগে বিজ্ঞাপন দেওয়ার জন্য চাকরীগুলি
                    বিদ্যমান, প্রকৃত এবং গ্রাহকের কাছে চাকরির তালিকা করার ক্ষমতা
                    রয়েছে।
                </li>
                <li>
                    গ্রাহক/নিয়োগকারীকে অবশ্যই পিরামিড ইনোভেশনস লিমিটেডকে একটি
                    অঙ্গীকার দিতে হবে যে আবেদনের প্রক্রিয়াকরণের জন্য পিরামিড
                    ইনোভেশনস লিমিটেডের 'হট জবস' এবং 'শ্রেণিকৃত' বিভাগে বিজ্ঞাপন
                    দেওয়া চাকরিগুলিতে প্রতিক্রিয়া জানানো আবেদনকারীর কাছ থেকে
                    কোনও ফি নেওয়া হবে না।
                </li>
                <li>
                    পিরামিড ইনোভেশনস লিমিটেড যে কোনো সময় কোনো কারণ ব্যতিরেকে
                    এবং কোনো নোটিশ না দিয়ে পিরামিড ইনোভেশনস লিমিটেডের 'হট জবস'
                    এবং 'শ্রেণিকৃত' বিভাগগুলির চেহারা, অনুভূতি, নকশা, বিশিষ্টতা,
                    চিত্রণ, শ্রেণীবিভাগ পরিবর্তন করার অধিকার সংরক্ষণ করে।
                </li>
            </div>

            <h3 class="font-bold">হট জব সাবস্ক্রিপশন:</h3>
            <div class="infxs:ml-6 md:ml-14">
                <li>
                    পিরামিড ইনোভেশনস লিমিটেড শুধুমাত্র পিরামিড ইনোভেশনস
                    লিমিটেডের 'হট জবস' এবং 'ক্ল্যাসিফাইড' বিভাগে শূন্যপদ
                    সম্পর্কিত তথ্য রাখবে।
                </li>
                <li>
                    পিরামিড ইনোভেশনস লিমিটেডের শ্রেণীবদ্ধ বিভাগে প্রদর্শিত
                    সন্নিবেশটি 30 দিনের সময়ের জন্য হবে, যা বিজ্ঞপ্তি ছাড়াই
                    পরিবর্তন সাপেক্ষে।
                </li>
                <li>
                    পিরামিড ইনোভেশনস লিমিটেড ডাটাবেসে ফিট করার জন্য খালি পদের
                    বিবরণের এই ধরনের সমস্ত পরিবর্তন/সম্পাদনা করার অধিকার রাখে।
                </li>
                <li>
                    পিরামিড ইনোভেশনস লিমিটেড কোনো কারণ ব্যতিরেকে ব্যবহারকারীর
                    দেওয়া কোনো সন্নিবেশ বা তথ্য/ডেটা প্রত্যাখ্যান করার অধিকার
                    সংরক্ষণ করে। এই ধরনের পরিস্থিতিতে, যেকোন পরিমাণ অর্থ প্রদান
                    করা হলে, ব্যবহারকারীকে অনুপাতের ভিত্তিতে ফেরত দেওয়া হবে।
                </li>
                <li>
                    পিরামিড ইনোভেশনস লিমিটেড তার নিজস্ব বিবেচনার ভিত্তিতে
                    ক্লায়েন্টকে কোন অতিরিক্ত খরচ ছাড়াই অন্যান্য প্রিন্ট যানে
                    বিভিন্ন মিডিয়া অ্যালায়েন্সের মাধ্যমে প্রিন্ট মিডিয়াতে
                    পিরামিড ইনোভেশন লিমিটেডের প্রদর্শনের জন্য ক্লায়েন্ট দ্বারা
                    অবহিত করা শূন্যপদ অন্তর্ভুক্ত করতে পারে। যাইহোক, যদি কোনো
                    ক্লায়েন্ট প্রিন্ট মিডিয়াতে উপস্থিত থেকে তার
                    শূন্যপদ/প্রয়োজনীয়তা না রাখতে চায়, তাহলে ক্লায়েন্টকে
                    বিশেষভাবে পিরামিড ইনোভেশনস লিমিটেডকে সেই শূন্যপদ সম্পর্কে
                    জানানোর সময় লিখিতভাবে জানাতে হবে।
                </li>
                <li>
                    পিরামিড ইনোভেশনস লিমিটেড কোনও গ্যারান্টি বা ওয়ারেন্টি দেয়
                    না যে একবার চাকরির শূন্যপদ প্রদর্শন করা হলে সন্তোষজনক
                    প্রতিক্রিয়া বা কোনও প্রতিক্রিয়া হবে।
                </li>
                <li>
                    পিরামিড ইনোভেশনস লিমিটেড কোনোভাবেই গ্রাহককে আবেদনকারীর
                    দ্বারা প্রদত্ত কোনো তথ্যের জন্য দায়বদ্ধ হবে না এবং এটি তার
                    নিজস্ব খরচে এবং খরচে প্রাপ্ত তথ্য/প্রতিক্রিয়া যাচাই,
                    প্রমাণীকরণ এবং যাচাই করার একমাত্র দায়িত্ব হবে গ্রাহকের।
                </li>
                <li>
                    পিরামিড ইনোভেশনস লিমিটেড ডেটার কারিগরি ক্ষতির জন্য বা
                    অন্যথায়, গ্রাহকদের দ্বারা সরবরাহকৃত তথ্য, তথ্যের ক্ষতির
                    জন্য দায়বদ্ধ হবে না যেমন ডেটার দুর্নীতি বা বিলম্ব বা কার্য
                    সম্পাদনে ব্যর্থতার কারণে যে কোনও কারণ বা শর্ত। পিরামিড
                    ইনোভেশনস লিমিটেডের যুক্তিসঙ্গত নিয়ন্ত্রণের বাইরে যা হরতাল,
                    দাঙ্গা, নাগরিক অস্থিরতা, সরকার সহ কিন্তু সীমাবদ্ধ নয়। নীতি,
                    হ্যাকার, যুদ্ধ এবং প্রাকৃতিক দুর্যোগের মতো অননুমোদিত
                    ব্যক্তিদের দ্বারা ডেটা টেম্পারিং।
                </li>
                <li>
                    গ্রাহক/নিয়োগকারীকে অবশ্যই পিরামিড ইনোভেশনস লিমিটেডকে একটি
                    অঙ্গীকার দিতে হবে যে পিরামিড ইনোভেশনস লিমিটেডের 'হট জব' এবং
                    'শ্রেণিকৃত' বিভাগে বিজ্ঞাপন দেওয়ার জন্য চাকরীগুলি বিদ্যমান,
                    প্রকৃত এবং গ্রাহকের কাছে চাকরির তালিকা করার ক্ষমতা রয়েছে।
                </li>
                <li>
                    গ্রাহক/নিয়োগকারীকে অবশ্যই পিরামিড ইনোভেশনস লিমিটেডকে একটি
                    অঙ্গীকার দিতে হবে যে আবেদনের প্রক্রিয়াকরণের জন্য পিরামিড
                    ইনোভেশনস লিমিটেডের 'হট জবস' এবং 'ক্লাসিফায়েড' বিভাগে
                    বিজ্ঞাপন দেওয়া চাকরির জন্য কোনও আবেদনকারীর কাছ থেকে কোনও ফি
                    নেওয়া হবে না।
                </li>
                <li>
                    পিরামিড ইনোভেশনস লিমিটেড কোনো কারণ ব্যতিরেকে এবং কোনো নোটিশ
                    না দিয়ে যেকোনো সময় পিরামিড ইনোভেশনস লিমিটেডের শ্রেণীবদ্ধ
                    এবং/অথবা হট জবস বিভাগের চেহারা, অনুভূতি, নকশা, বিশিষ্টতা,
                    চিত্রণ, শ্রেণীবিভাগ পরিবর্তন করার অধিকার সংরক্ষণ করে।
                </li>
                <li>
                    এই পরিষেবার গ্রাহক সাবস্ক্রিপশনের সময়কালে সীমাহীন তালিকার
                    জন্য এনটাইটেল হবে।
                </li>
                <li>
                    এই পরিষেবাটি গ্রাহকদের দ্বারা অন্য কোন ব্যক্তি, কর্পোরেট
                    সংস্থা, ফার্ম বা ব্যক্তির কাছে পুনঃবিক্রয়যোগ্য বা
                    হস্তান্তরযোগ্য নয়।
                </li>
            </div>

            <h3 class="font-bold">ম্যানুয়াল শর্টলিস্টিং:</h3>
            <div class="infxs:ml-6 md:ml-14">
                <li>
                    পিরামিড ইনোভেশনস লিমিটেড গ্রাহককে শুধুমাত্র মেয়াদকালের জন্য
                    এবং চুক্তিবদ্ধ শূন্য পদের সংখ্যার জন্য পরিষেবা প্রদান করতে
                    সম্মত হয়, তার সর্বোত্তম ক্ষমতা অনুযায়ী।
                </li>
                <li>
                    পিরামিড ইনোভেশনস লিমিটেড লিমিটেড শূন্যপদের জন্য প্রাপ্ত
                    সমস্ত জীবনবৃত্তান্ত গ্রহণ করবে, খুলবে, পড়বে এবং বাছাই করবে।
                </li>
                <li>
                    সাবস্ক্রাইবার দ্বারা সিদ্ধান্ত নেওয়ার জন্য পরামিতি ব্যবহার
                    করে বাছাই করা হবে।
                </li>
                <li>
                    পিরামিড ইনোভেশনস লিমিটেড ডেটার কারিগরি ক্ষতির জন্য বা
                    অন্যথায়, গ্রাহকদের দ্বারা সরবরাহকৃত তথ্য, তথ্যের ক্ষতির
                    জন্য দায়বদ্ধ হবে না যেমন তার নিয়ন্ত্রণের বাইরের কারণে
                    ডেটার দুর্নীতি বা বিলম্ব বা কোনো কারণ বা শর্তের ফলস্বরূপ
                    সম্পাদন করতে ব্যর্থতা। পিরামিড ইনোভেশনস লিমিটেডের
                    যুক্তিসঙ্গত নিয়ন্ত্রণের বাইরে যা হরতাল, দাঙ্গা, নাগরিক
                    অস্থিরতা, সরকার সহ কিন্তু সীমাবদ্ধ নয়। নীতি, হ্যাকার, যুদ্ধ
                    এবং প্রাকৃতিক দুর্যোগের মতো অননুমোদিত ব্যক্তিদের দ্বারা ডেটা
                    টেম্পারিং।
                </li>
                <li>
                    এটি পরিষ্কার করা হয়েছে যে গ্রাহক একটি কর্পোরেট/ব্যবসায়িক
                    সত্তা, মাইক্রো সাইট বা এর কোনো অংশ কোনো তৃতীয় পক্ষের কাছে
                    স্থানান্তর/বিক্রয়/সাবলেট করতে পারবেন না।
                </li>
            </div>

            <h3 class="font-bold">ব্যানার প্রদর্শন:</h3>
            <div class="infxs:ml-6 md:ml-14">
                <li>
                    পিরামিড ইনোভেশনস লিমিটেড গ্রাহককে শুধুমাত্র তার সামর্থ্য
                    অনুযায়ী সময়কাল বা ইম্প্রেশনের সংখ্যার জন্য পরিষেবা প্রদান
                    করতে সম্মত হয়।
                </li>
                <li>
                    পিরামিড ইনোভেশনস লিমিটেড একটি ঘূর্ণন ভিত্তিতে হোমপেজে
                    ব্যানার প্রদর্শন করবে, যেখানে বিভিন্ন গ্রাহকের ব্যানারগুলি
                    একটি স্মার্ট সফ্টওয়্যার দ্বারা পরিচালিত ক্রমানুসারে
                    প্রদর্শিত হয়।
                </li>
                <li>
                    "রন অফ দ্য ওয়েব সাইট" ডিলের ক্ষেত্রে, পিরামিড ইনোভেশনস
                    লিমিটেড চুক্তির সময়কালে যে কোনো সময়ে, গ্রাহকের ব্যানারগুলি
                    যেখানে প্রদর্শিত হবে সেই বিভাগগুলি বেছে নেওয়ার অধিকার
                    সংরক্ষণ করে৷
                </li>
                <li>
                    পিরামিড ইনোভেশনস লিমিটেড কোনো কারণ ব্যতিরেকে ব্যবহারকারীর
                    দেওয়া কোনো সন্নিবেশ বা তথ্য/ডেটা প্রত্যাখ্যান করার অধিকার
                    সংরক্ষণ করে। এই ধরনের পরিস্থিতিতে, যেকোন পরিমাণ অর্থ প্রদান
                    করা হলে, ব্যবহারকারীকে অনুপাতের ভিত্তিতে ফেরত দেওয়া হবে।
                </li>
                <li>
                    পিরামিড ইনোভেশনস লিমিটেড কোন গ্যারান্টি বা ওয়ারেন্টি দেয়
                    না যে ব্যানারগুলি প্রদর্শন করা হলে সন্তোষজনক প্রতিক্রিয়া বা
                    কোন প্রতিক্রিয়া হবে।
                </li>
                <li>
                    পিরামিড ইনোভেশনস লিমিটেড ডেটার কারিগরি ক্ষতির জন্য বা
                    অন্যথায়, গ্রাহকদের দ্বারা সরবরাহকৃত তথ্য, তথ্যের
                    ক্ষয়ক্ষতির জন্য দায়ী থাকবে না যেমন ডেটার দুর্নীতি বা
                    বিলম্ব বা কার্য সম্পাদন করতে ব্যর্থতার মতো কারণ বা শর্তগুলির
                    ফলে পিরামিড ইনোভেশনস লিমিটেডের যুক্তিসঙ্গত নিয়ন্ত্রণের
                    বাইরে যা হরতাল, দাঙ্গা, নাগরিক অস্থিরতা, সরকার সহ কিন্তু
                    সীমাবদ্ধ নয়। নীতি, হ্যাকার, যুদ্ধ এবং প্রাকৃতিক দুর্যোগের
                    মতো অননুমোদিত ব্যক্তিদের দ্বারা ডেটা টেম্পারিং।
                </li>
                <li>
                    এটি পরিষ্কার করা হয়েছে যে গ্রাহক একটি কর্পোরেট/ব্যবসায়িক
                    সত্তা, মাইক্রো সাইট বা এর কোনো অংশ কোনো তৃতীয় পক্ষের কাছে
                    স্থানান্তর/বিক্রয়/সাবলেট করতে পারবেন না।
                </li>
            </div>
        </div>
    </div>
</div>
