.heading{
    font-size: 25px;
    font-weight: 700;
    color: #7A5FA8;
}

.subheading{
    margin-top: 1rem;
    font-size: 20px;
    font-weight: 400;
    color: #7A5FA8;
}


.menu{
    font-weight: 800 !important;
    font-size: 22px;
    color: #7A5FA8;
}

.hr-bar{
    height: 1.5px !important;
    border: 1.5px solid #7A5FA8 !important;
    width: 50%;
    margin-top: 2rem !important;
    margin-left: auto !important;
    margin-right: auto !important;
    font-weight: bold !important;
}

.btn-match{
    background-color: #7A5FA8 !important;
    color: white !important;
    margin-top: 3rem !important;
    
}