<div class="min-h-screen flex justify-center items-center bg-[#fff]">
      <div class="w-2/3 text-center mx-auto">
           <h1 class="heading">Let's find you some jobs!</h1>
           <p class="subheading">Hold on to your seats while we find <span class="font-bold">best matches</span> for your preference...</p>
           <div class="text-center mt-9">
                 <h2 class="menu">work</h2>
                 <h2 class="menu mt-3">where</h2>
                 <h2 class="menu mt-3">you</h2>
                 <h2 class="menu mt-3">belong</h2>
            </div>
            <div class="hr-bar">
           

      </div>

      <button class="text-white text-lg font-bold mt-8 mb-8 py-2 px-4 md:px-8  btn-match">
           Show me my best matches
      </button>

</div>
