<div class=" flex-col items-center justify-center md:min-w-120">
    <div class="text-center">
        <h1 class="heading font-bold text-2xl">Please Edit Experience Info</h1>
    </div>
    <div class="flex flex-col text-center  mx-auto">
        
        <form   class="flex flex-col  mx-auto mt-3" style="width:90% !important;">
            <div class="flex flex-col">
                <h1 class="text-left font-bold">Title*</h1>
                <input type="text" 
                        required
                        [(ngModel)]="experience.title"
                        name="title"
                        maxlength="48"
                        class="mt-2 mb-4 border border-gray-300 px-4 py-2 placeholder-italic"
                />
            </div>

            <div class="flex flex-col">
                <h1 class="text-left font-bold">Organization*</h1>
                <input type="text" placeholder="Organization"
                        required
                        [(ngModel)]="experience.organization"
                        name="organization"
                        maxlength="48"
                        class="mt-2 mb-4 border border-gray-300 px-4 py-2 placeholder-italic"
                />
            </div>

            <div class="flex flex-col">
                <h1 class="text-left font-bold">Start Date*</h1>
                <input type="date" placeholder="Start Date"
                        required
                        [(ngModel)]="experience.started_at"
                        name="started_at"
                        class="mt-2 mb-4 border border-gray-300 px-4 py-2 placeholder-italic"
                />
            </div>

            <div class="flex flex-col">
                <h1 class="text-left font-bold">End Date*</h1>
                <input type="date" placeholder="End Date"
                        required
                        [(ngModel)]="experience.ended_at"
                        name="ended_at"
                        class="mt-2 mb-4 border border-gray-300 px-4 py-2 placeholder-italic"
                />
            </div>

            <div class="flex flex-col">
                <h1 class="text-left font-bold">Job Description</h1>
                <textarea 
                      
                        [(ngModel)]="experience.job_description"
                        name="job_description"
                        maxlength="1000"
                        class="mt-2 mb-4 h-36 border border-gray-300 px-4 py-2 placeholder-italic"
                ></textarea>
            </div>

            <div class="flex justify-center items-center">
                <button *ngIf="!loading && isValidated() == true"
                    class="mt-5 w-28 mr-4 rounded sigin text-white font-semibold py-2 px-4 bg-pyramid-default-primary" 
                    (click)="edit()"
                 >
                      SUBMIT
                 </button>

                 <button *ngIf="!loading && isValidated() ==false"
                     class="mt-5 w-28 mr-4 rounded sigin text-white font-semibold py-2 px-4 bg-gray-300 cursor-not-allowed" 
                 >
                       SUBMIT
                 </button>

                 <div  *ngIf="loading"  class="flex justify-center items-center">
                      <app-loader></app-loader>
                 </div>

              
            </div>
        </form>
    </div>
</div>
