<div class="w-60 md:pt-8 md:pb-4 lg:w-100 xl:w-120">
    <div class="flex flex-row flex-wrap items-center justify-center">
        <div class="text-center modal-content">
            <h1 class="text-center text-red-600 text-2xl font-[500] md:text-3xl">
                Resume Not Avaialable
            </h1>
            <button
                (click)="cancel()"
                class="mx-auto mt-4 submit-btn rounded text-white font-semibold py-2 px-4 bg-[#28243efc]"
            >
                Cancel
            </button>
        </div>
    </div>
</div>

