<div class="flex justify-center items-center infxs:px-6 md:px-16">
    <div class="py-6 text-md xl:text-base">
        <div class="flex flex-col infxs:gap-y-2 md:gap-y-4 English_section">
            <h3 class="font-bold">Business Overview</h3>
            <p>
                Pyramid Innovation Limited emerges as a spearheading startup,
                poised to revolutionise the employment landscape and reshape
                prevailing HR trends across the nation.
            </p>
            <h3 class="font-bold">Our Vision</h3>
            <p>
                Our strategic vision is to transform the recruitment industry
                through advanced technology and data-driven insights. We aim to
                create a seamless and efficient recruitment ecosystem that
                benefits both job seekers and employers. Our platform allows job
                seekers to showcase their skills and experiences, while
                providing employers with access to a diverse and curated talent
                pool. We are dedicated to reform recruitment with transparency,
                efficiency, and inclusivity at our core.
            </p>
            <h3 class="font-bold">Our Mission</h3>
            <p>
                Pyramid is dedicated to revolutionizing talent acquisition with
                advanced technology, breaking barriers, and promoting equity.
                Our suite of Pre-Employment Test (PET) services reflect our
                vision for a future where recruitment drives success for all
                stakeholders.
            </p>
            <h3 class="font-bold">Pyramid Innovations Limited Team:</h3>
            <h3 class="font-bold">Founder & Managing Director:</h3>
            <p>
            <span class="font-bold block">Md. Khaled Shahriar</span>
            <span class="block">Email :  Cofounder&#64;pyramid.careers</span>
            <span>
About : Co-founder & Managing Director, recognized a pressing need for streamlining recruitment processes in Bangladesh while leading a startup as Chief Operating 
Officer at VUMI Bangladesh Ltd. Frustrated by the complexity, time consumption, and costs associated with traditional hiring methods, he sought an innovative solution and 
co-founded Pyramid Innovations LTD. With over a decade of diverse professional experience, spanning entrepreneurship during his academic years, investment banking, and pursuing 
an international MBA, Khaled's career reflects an unwavering commitment to innovation. His current role at VUMI and involvement in co-founding tech-based startups, including Pyramid 
Innovations Limited, underline his dedication to simplifying recruitment and contributing to the dynamic technology and business landscape of Bangladesh. Md. Khaled Shahriar 
Co-founder & CEO Chief Operating Officer, VUMI Bangladesh Ltd North south University MBA, University Canada West, British Columbia 7 years of professional experience in Business 
Development, Operations and Growth BrainStation 23, is an established multinational software development company with a strong presence in Bangladesh and beyond. Their impact 
spans both local and international markets by providing cutting-edge software and IT solutions tailored to a wide range 
of industries, including fintech, telecommunications, eCommerce, pharmaceuticals, manufacturing, and retail. Brain Station 23 
has played a pivotal role in developing innovative platforms, including VUMI Bangladesh's user-friendly edtech platform and 
extended to the software and web application development for Pyramid, where they serve as a Tech partner in SAFE mode. With 
a proven track record of successfully completing over 2000 projects, Brain Station 23 has earned recognition for their 
unwavering commitment to innovation and digitalization. They cater to the needs of enterprises and SMEs alike and uphold 
high standards of quality and information security, as evidenced by their ISO 9001 & 27001 certifications.</span>
            </p>
            <h3 class="font-bold">Management Team:</h3>
            <p>
                <span class="font-bold block">Fayaz Rubayat Mridul</span>
                <span class="block">Growth Manager</span>
                <span class="block">Mobile: +88 01863326272
                </span>
                <span class="block">Email: contact&#64;pyramid.careers</span>
            </p>
            <p>
                <span class="font-bold block">Fatin Shafinaz
                </span>
                <span class="block">Product Manager
                </span>
                <span class="block">Mobile: +88 01611186084

                </span>
                <span class="block">Email: contact&#64;pyramid.careers
                </span>
            </p>
            <p>
                <span class="font-bold block">Kazi Nazia Nur</span>
                <span class="block">Executive - Business Development
                </span>
                <span class="block">Mobile: +88 01950896293

                </span>
                <span class="block">Email: contact&#64;pyramid.careers
                </span>
            </p>
            <p>
                <span class="font-bold block">Ashiqur Rahman</span>
                <span class="block">Account Manager

                </span>
                <span class="block">Mobile: +88 01907107867
                </span>
                <span class="block">Email: contact&#64;pyramid.careers
                </span>
            </p>

            <!-- <p>
                <strong>Dr. Md. Mahbubul Alam Joarder</strong> an esteemed
                professor at the University of Dhaka, has a long history of
                assisting students and associates in their job searches and
                references, leveraging his extensive network. Recognizing a
                pressing issue among recent graduates in Bangladesh, he observed
                a gap in their knowledge and skills needed for effective job
                searches. In response, he has embarked on a mission to empower
                new graduates with the insights and strategies required to
                navigate the job market successfully. Dr. Joarder is also the
                Co-founder & Director and Deputy Vice-Chancellor at Bangabandhu
                Sheikh Mujibur Rahman Digital University (BDU), where he works
                to bridge the gap between job seekers and employers, creating
                employment opportunities and advancing computer engineering and
                ICT in the region. His innovative approach and dedication are
                instrumental in shaping the future of technology and education
                in Bangladesh, fostering progress and collaboration in these
                fields. Dr. Md. Mahbubul Alam Joarder Co-founder & Director
                Pro-Vice Chancellor, Bangabandhu Sheikh Mujibur Rahman Digital
                University, Bangladesh Professor, IIT, University of Dhaka
                Director, BSCCL
            </p>
            <p>
                <strong>Dr. Khaled Mahmud</strong> an Associate Professor at the
                University of Dhaka and Co-founder/Chairman of Pyramid
                Innovations LTD, has leveraged his extensive experience in the
                job industry to revolutionize the hiring process in Bangladesh.
                extended his support to a significant number of individuals,
                assisting them in securing employment. His enduring aspiration
                was to consolidate these scattered efforts into a unified
                platform, giving rise to the establishment of Pyramid
                Innovations Ltd which also serves recognition. <br />
                Mahmud combines his academic background, including dual MBA
                degrees from Bentley University and the Institute of Business
                Administration (IBA), with hands-on experience in multinational
                corporations. His policy-level collaborations with the
                Government of Bangladesh and projects funded by global
                organizations like UNDP, World Bank, ADB, and USAID underscore
                his significant influence in reshaping business and technology
                in the country. Dr. Khaled Mahmud Co-founder & Chairman
                Associate Professor, IBA, University of Dhaka BSc. CSE BUET MBA,
                IBA, University of Dhaka MBA, Bentley University, Massachusetts
                PhD, Institute of Information technology, University of Dhaka 16
                years of professional experience in Business & IT
            </p>

            <p>
                <strong>Khaled Shahriar</strong> Co-founder & Managing Director,
                recognized a pressing need for streamlining recruitment
                processes in Bangladesh while leading a startup as Chief
                Operating Officer at VUMI Bangladesh Ltd. Frustrated by the
                complexity, time consumption, and costs associated with
                traditional hiring methods, he sought an innovative solution and
                co-founded Pyramid Innovations LTD. With over a decade of
                diverse professional experience, spanning entrepreneurship
                during his academic years, investment banking, and pursuing an
                international MBA, Khaled's career reflects an unwavering
                commitment to innovation. His current role at VUMI and
                involvement in co-founding tech-based startups, including
                Pyramid Innovations Limited, underline his dedication to
                simplifying recruitment and contributing to the dynamic
                technology and business landscape of Bangladesh. Md. Khaled
                Shahriar Co-founder & CEO Chief Operating Officer, VUMI
                Bangladesh Ltd North south University MBA, University Canada
                West, British Columbia 7 years of professional experience in
                Business Development, Operations and Growth BrainStation 23, is
                an established multinational software development company with a
                strong presence in Bangladesh and beyond. Their impact spans
                both local and international markets by providing cutting-edge
                software and IT solutions tailored to a wide range of
                industries, including fintech, telecommunications, eCommerce,
                pharmaceuticals, manufacturing, and retail. Brain Station 23 has
                played a pivotal role in developing innovative platforms,
                including VUMI Bangladesh's user-friendly edtech platform and
                extended to the software and web application development for
                Pyramid, where they serve as a Tech partner in SAFE mode. With a
                proven track record of successfully completing over 2000
                projects, Brain Station 23 has earned recognition for their
                unwavering commitment to innovation and digitalization. They
                cater to the needs of enterprises and SMEs alike and uphold high
                standards of quality and information security, as evidenced by
                their ISO 9001 & 27001 certifications.
            </p> -->
            <h3 class="font-bold flex justify-center">
                Trade license Number: (TRAD/DSCC/039547/2022)
            </h3>
        </div>
    </div>
</div>
