<div class="min-h-screen flex items-center justify-center">
    <div *ngIf="verifiedToken"  class="flex justify-center  text-center">
        <div class="-mt-12">
            <div class="text-center">
                <h1 class="heading">Reset Password</h1>
            </div>
    
            <form
                [formGroup]="formInfo"
                (ngSubmit)="onSubmit()"
                class="flex flex-col w-60 sm:w-80 mx-auto"
            >
                <div class="flex flex-col">
                   
                
    
                    <div class="relative">
                        <input
                            [type]="showPassword ? 'text' : 'password'"
                            formControlName="password"
                            placeholder="Password"
                            class="mt-5 border w-full border-gray-300 px-4 py-2 placeholder-italic"
                        />
                        <mat-icon
                            *ngIf="!showPassword"
                            class="icon-size-5 absolute right-2 top-1/2 cursor-pointer"
                            [svgIcon]="'heroicons_solid:eye'"
                            (click)="togglePasswordVisibility()"
                        ></mat-icon>
                        <mat-icon
                            *ngIf="showPassword"
                            class="icon-size-5 absolute right-2 top-1/2 cursor-pointer"
                            [svgIcon]="'heroicons_solid:eye-off'"
                            (click)="togglePasswordVisibility()"
                        ></mat-icon>
                    </div>
    
                    <div
                        *ngIf="
                            formInfo.get('password').invalid &&
                            (formInfo.get('password').dirty ||
                                formInfo.get('password').touched)
                        "
                    >
                        <div
                            *ngIf="formInfo.get('password').errors?.required"
                            class="error text-left text-red-600 mt-2"
                        >
                            *Password is required
                        </div>
                        <div
                            *ngIf="formInfo.get('password').errors?.pattern"
                            class="error text-left text-red-600 mt-2"
                        >
                            *Password must be have at least one number, one
                            uppercase, one lowercase and one special character and 8
                            characters
                        </div>
                    </div>
                    
    
                    <div class="relative">
                        <input
                            [type]="showConfirmPassword ? 'text' : 'password'"
                            formControlName="confirmPassword"
                            placeholder="Confirm Password"
                            class="mt-5 border w-full border-gray-300 px-4 py-2 placeholder-italic"
                        />
                        <mat-icon
                            *ngIf="!showConfirmPassword"
                            class="icon-size-5 absolute right-2 top-1/2 cursor-pointer"
                            [svgIcon]="'heroicons_solid:eye'"
                            (click)="toggleConfirmPasswordVisibility()"
                        ></mat-icon>
                        <mat-icon
                            *ngIf="showConfirmPassword"
                            class="icon-size-5 absolute right-2 top-1/2 cursor-pointer"
                            [svgIcon]="'heroicons_solid:eye-off'"
                            (click)="toggleConfirmPasswordVisibility()"
                        ></mat-icon>
                    </div>
                    <div
                        *ngIf="
                            formInfo.get('confirmPassword').invalid &&
                            (formInfo.get('confirmPassword').dirty ||
                                formInfo.get('confirmPassword').touched)
                        "
                    >
                        <!-- <div *ngIf="formInfo.get('confirmPassword').errors?.required" class="error text-left text-red mt-2">*Confirm Password is required</div> -->
                        <div
                            *ngIf="
                                formInfo.get('confirmPassword').errors
                                    ?.matchPassword
                            "
                            class="error text-left text-red-600 mt-2"
                        >
                            *Confirm Password does not match
                        </div>
                    </div>
    
                    
                </div>
    
                <button
                    *ngIf="!formInfo.invalid  && !loading"
                    class="mt-5 signup text-white font-semibold py-2 px-4 bg-pyramid-default-primary"
                >
                     Submit
                </button>
    
                <button
                    *ngIf="formInfo.invalid  && !loading"
                    class="mt-5 signup text-white font-semibold py-2 px-4 bg-blue-100 signup-disabled"
                    [disabled]="true"
                >
                      Submit
                </button>
    
                <div *ngIf="loading" class="flex justify-center items-center mt-3">
                    <app-loader></app-loader>
                </div>
            </form>
        </div>
    </div>

    <div *ngIf="expiredToken" class="flex justify-center items-center">
         <div class="text-center">
              <h1 class="text-4xl md:text-5xl font-bold">Token Expired</h1>
            
              <button class="mt-5  text-white font-semibold py-2 px-4 bg-pyramid-default-primary"
                      (click)="goTo('user/forget-password')"
              >
                  Try Again
              </button>
         </div>
    </div>

    <div *ngIf="invalidToken" class="flex justify-center items-center">
        <div class="text-center">
             <h1 class="text-4xl md:text-5xl font-bold">Token Invalid</h1>
           
             <button class="mt-5  text-white font-semibold py-2 px-4 bg-pyramid-default-primary"
                     (click)="goTo('user/forget-password')"
             >
                 Try Again
             </button>
        </div>
   </div>

</div>

