

<div class=" flex-col items-center justify-center md:min-w-120">
    <div class="text-center">
        <h1 class="heading font-bold text-2xl">Please Edit Basic Info</h1>
    </div>
    <div   class="flex flex-col text-center   mx-auto">
        


        <form   class="flex flex-col  mx-auto mt-3" style="width:90% !important;">
            <div class="flex flex-col mt-4">
               
                <h1 class="text-left font-bold">Upload Profile Pic <span class="text-pyramid-green"> [ Minimum Standard Size: 300x300 px ]</span></h1> 
                    <input name="profile_pic" type="file" class="px-auto w-5/6 mt-2"
                     (change)="onProfilePicUpload($event)" >
                
            </div>

            <div class="flex flex-col mt-4">
                <h1 class="text-left font-bold">First Name*</h1>
                <input type="text" 
                        required
                        [(ngModel)]="profile.firstname"
                        name="firstname"
                        maxlength="48"
                        class="mt-2 border border-gray-300 px-4 py-2 placeholder-italic"
                />
               
              
            </div>

            <div class="flex flex-col mt-4">
                <h1 class="text-left font-bold">Last Name*</h1>
                <input type="text" 
                        required
                        [(ngModel)]="profile.lastname"
                        name="institution"
                        maxlength="48"
                        class="mt-2 mb-3 border border-gray-300 px-4 py-2 placeholder-italic"
                />
               
            </div>

            <div class="flex flex-col mt-2">
                <h1 class="text-left font-bold">Contact Number*</h1>
                <input type="text" 
                        required
                        [(ngModel)]="profile.phone"
                        name="phone"
                        maxlength="16"
                        class="mt-2 mb-3 border border-gray-300 px-4 py-2 placeholder-italic"
                />
               
            </div>

            <div class="flex flex-col mt-2">
                <h1 class="text-left font-bold">Gender*</h1>
                <select 
                  required
                  [(ngModel)]="profile.gender"
                  name="gender"
                  class="mt-2 mb-3 border border-gray-300 px-4 py-2"
                >
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                </select>
            </div>
              

          


            <div class="flex justify-center items-center">
                <button *ngIf="!loading && isValidated() == true"
                    class="mt-5 w-28 rounded mr-4 sigin text-white font-semibold py-2 px-4 bg-pyramid-default-primary" 
                    (click)="edit()"
                 >
                      SUBMIT
                 </button>

                 <button *ngIf="!loading && isValidated() ==false"
                     class="mt-5 w-28 rounded mr-4 sigin text-white font-semibold py-2 px-4 bg-gray-300 cursor-not-allowed" 
                 >
                       SUBMIT
                 </button>

                 <div  *ngIf="loading"  class="flex justify-center items-center">
                      <app-loader></app-loader>
                 </div>

              
            </div>
          

        
          
        </form>

      
    </div>

    
</div>

