.homeBackground {
    background-color: #b4eff0;
}
.jobsBackground {
    background-color: #86de8cc4;
}
.employerBackground {
    background-color: #7ce1ce;
}
.defaultBackground {
    background-color: #b4eff0;
}

.homeHover:hover {
    background-color: black;
}
.jobsHover:hover {
    background-color: #338f3a;
}
.employerHover:hover {
    background-color: #363154fc;
}
.defaultHover:hover {
    background-color: black;
}

.social_icon {
    list-style: none !important;
    margin-left: 0px !important;
}
